<mat-sidenav-container class="container">
    <h1 class="title">PolyDessin</h1>
    <div class="horizontal-container">
        <div class="vertical-container">
            <div>
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Google_fuchsia3.svg/1200px-Google_fuchsia3.svg.png"
                    class="logo"
                />
            </div>
            <div class="button-list">
                <a mat-stroked-button (click)="openCreateDrawing()">CRÉER UN NOUVEAU DESSIN</a>
                <div *ngIf="this.drawingService.isDrawingStarted">
                    <a mat-stroked-button routerLink="/editor">CONTINUER UN DESSIN</a>
                </div>
                <a mat-stroked-button>GALERIE DE DESSIN</a>
                <a mat-stroked-button (click)="openGuideModal()">GUIDE D'UTILISATION</a>
            </div>
        </div>
        <mat-card class="card-container">
            <mat-card-title>Bienvenue!</mat-card-title>
            <mat-card-content class="text-block">
                Ce logiciel de dessin vectoriel a été développé par l'équipe 203 (groupe 2). Les Singletons c'est méchant.
                <del>Simon</del> Misha me tient en otage, s'il-vous-plaît en informer Brenda afin de planifier une rencontre HPR où je vais
                pouvoir renverser la monarchie. <br /><br />
                Développeurs:
            </mat-card-content>
            <div class="name-list">
                <li>Francis "Chancellier Suprême des Stylesheets" Pepin</li>
                <li>Justin van den Hanenberg</li>
                <li>Misha Krieger-Raynauld</li>
                <li>Samer Massaad</li>
                <li>Simon Gauvin</li>
            </div>
        </mat-card>
    </div>
</mat-sidenav-container>
