.color-picker {
    margin-left: 14px;
}

h1,
h2,
h3 {
    text-align: center;
    color: white;
}

.recent-colors {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 250px;
}

.mat-slider {
    padding: 0px;
    width: 200px;
}

.alpha-text {
    padding-top: 12px;
    padding-right: 5px;
}

.alpha-slider {
    display: flex;
    width: 250px;
}

input {
    border-radius: 25px;
    border-style: none;
    text-align: center;
    width: 70px;
    margin-left: 2px;
    margin-right: 2px;
}
