<div style="width: 250px">
    <div class="recent-colors">
        <app-color-container
            [color]="getLastColors()[0]"
            (click)="setColor($event, getLastColors()[0])"
            (contextmenu)="setColor($event, getLastColors()[0])"
        ></app-color-container>
        <app-color-container
            [color]="getLastColors()[1]"
            (click)="setColor($event, getLastColors()[1])"
            (contextmenu)="setColor($event, getLastColors()[1])"
        ></app-color-container>
        <app-color-container
            [color]="getLastColors()[2]"
            (click)="setColor($event, getLastColors()[2])"
            (contextmenu)="setColor($event, getLastColors()[2])"
        ></app-color-container>
        <app-color-container
            [color]="getLastColors()[3]"
            (click)="setColor($event, getLastColors()[3])"
            (contextmenu)="setColor($event, getLastColors()[3])"
        ></app-color-container>
        <app-color-container
            [color]="getLastColors()[4]"
            (click)="setColor($event, getLastColors()[4])"
            (contextmenu)="setColor($event, getLastColors()[4])"
        ></app-color-container>
    </div>
    <div class="recent-colors">
        <app-color-container
            [color]="getLastColors()[5]"
            (click)="setColor($event, getLastColors()[5])"
            (contextmenu)="setColor($event, getLastColors()[5])"
        ></app-color-container>
        <app-color-container
            [color]="getLastColors()[6]"
            (click)="setColor($event, getLastColors()[6])"
            (contextmenu)="setColor($event, getLastColors()[6])"
        ></app-color-container>
        <app-color-container
            [color]="getLastColors()[7]"
            (click)="setColor($event, getLastColors()[7])"
            (contextmenu)="setColor($event, getLastColors()[7])"
        ></app-color-container>
        <app-color-container
            [color]="getLastColors()[8]"
            (click)="setColor($event, getLastColors()[8])"
            (contextmenu)="setColor($event, getLastColors()[8])"
        ></app-color-container>
        <app-color-container
            [color]="getLastColors()[9]"
            (click)="setColor($event, getLastColors()[9])"
            (contextmenu)="setColor($event, getLastColors()[9])"
        ></app-color-container>
    </div>

    <div *ngIf="isColorPickerDisplayEnabled">
        <app-color-field
            [setHue]="hue"
            [setSaturation]="saturation"
            [setValue]="value"
            (saturationValueChange)="setSaturationAndValue($event)"
        ></app-color-field>
        <app-color-slider [setHue]="hue" (hueChange)="setHue($event)"></app-color-slider>

        <div class="alpha-slider">
            <div class="alpha-text">
                Alpha:
            </div>
            <mat-slider min="0.0" max="1.0" step="0.01" value="1.0" [(ngModel)]="alpha" (change)="setAlpha($event.value)"> </mat-slider>
        </div>
        <mat-form-field>
            <mat-label>Hex: # </mat-label>
            <input matInput (input)="updateColorHex()" [formControl]="hexForm" />
            <mat-error *ngIf="hexForm.invalid && (hexForm.dirty || hexForm.touched)">Couleur invalide</mat-error>
        </mat-form-field>
    </div>
</div>
