.color-picker {
    margin-left: 14px;
}

h1, h2, h3{
    text-align: center;
    color: white;
}

.recent-colors {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 250px;
}