.container {
    height: 100%;
    display: flex;
}

.drawing-container {
    max-height: 100vh;
    overflow: auto;
}

.drawing {
    display: grid;
    width: min-content;
    height: min-content;
}
