<h1 class="title">Applicateur de couleur</h1>
<h2>Description</h2>
<p>
    Le comportement de l'applicateur de couleur est très similaire à celui de la pipette, mais dans le sens inverse! Lorsque cet outil est
    sélectionné, il suffit d'effectuer un clic gauche pour appliquer la couleur principale à un trait, et un clic droit pour appliquer la
    couleur secondaire à ce même trait. Cependant, lorsqu'un clic droit est effectué sur une forme, sa bordure prend la couleur secondaire.
    Il va aussi de soit que le clic gauche change le remplissage de la forme.
</p>
<h2>Utilisation</h2>
<ul>
    <li>Sélectionner l’icône de l'aérosol dans la barre d’outils</li>
    <li>Effectuer un clic gauche sur un trait pour y appliquer la couleur principale</li>
    <li>Effectuer un clic droit sur un trait pour y appliquer la couleur secondaire</li>
    <li>Effectuer un clic gauche sur une forme pour appliquer la couleur principale au remplissage</li>
    <li>Effectuer un clic droit sur une forme pour appliquer la couleur secondaire à la bordure</li>
</ul>
