<mat-dialog-content class="settings-container">
    <h1 class="mat-h1">Couleur de fond</h1>
    <app-color-picker [(colorModel)]="color"></app-color-picker>
    <div class="buttons-container">
        <button mat-raised-button mat-dialog-close class="button">Annuler</button>
        <button mat-raised-button mat-dialog-close (click)="confirmColor()" class="button" cdkFocusInitial>Confirmer</button>
    </div>
    <mat-divider></mat-divider>
    <h1 class="mat-h1">Grille</h1>
    <app-grid></app-grid>
    <mat-divider></mat-divider>
</mat-dialog-content>
