@import '~@angular/material/theming';
@include mat-core();

$theme-colors: (
    pink: mat-palette($mat-pink, 300),
    purple: mat-palette($mat-purple, A400),
    indigo: mat-palette($mat-indigo, 200),
    blue: mat-palette($mat-light-blue, 500),
    green: mat-palette($mat-light-green, 500),
    yellow: mat-palette($mat-yellow, A700),
    orange: mat-palette($mat-orange, 500),
    red: mat-palette($mat-red, A700),
);

@mixin theme-mixin($theme) {
    @include angular-material-theme($theme);

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $foreground-color: map-get($foreground, foreground);
    $background: map-get($theme, background);
    $background-color: map-get($background, background);

    @each $color-name, $theme-color in $theme-colors {
        .#{$color-name + '-theme-color'} {
            background-color: mat-color($theme-color);
        }
    }

    .theme-background-color {
        background-color: $background-color;
    }

    .dialog {
        mat-dialog-container {
            background-color: $background-color;

            mat-dialog-content {
                max-height: 75vh;
            }
        }
    }

    .selected-button {
        background-color: mat-color($primary);

        @if $primary == mat-palette($mat-yellow, A700) {
            * {
                color: black;
            }
        }
    }

    ::-webkit-scrollbar-thumb:hover {
        background: mat-color($primary);
    }

    .error-tooltip {
        color: mat-color($warn);
    }
}

@each $color-name, $theme-color in $theme-colors {
    .#{$color-name + '-light-theme'} {
        @include theme-mixin(mat-light-theme($theme-color, $theme-color));
    }

    .#{$color-name + '-dark-theme'} {
        @include theme-mixin(mat-dark-theme($theme-color, $theme-color));
    }
}
