/* You can add global styles to this file, and also import other style files */
@import 'custom-themes.scss';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    min-width: max(0.5vh, 0.5vw);
    min-height: max(0.5vh, 0.5vw);
    max-width: min(2vh, 2vw);
    max-height: min(2vh, 2vw);
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(193, 193, 193);
    border-radius: 100px;
}

h1,
h2,
div,
p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
