/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@include mat-core();
@import 'custom-themes.scss';
@include angular-material-theme($polydessin-theme);

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(158, 158, 158);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(139, 138, 155);
}

h1,
h2,
div,
p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
