# System files
.DS_Store
Thumbs.db

# IDEs
/.vscode/chrome
/.vs/

# Angular 9.1 ngcc bug
__ngcc_entry_points__.json

# Code coverage folders
coverage/

# Omit accidental package-lock.json on root
package-lock.json
