<div (window:resize)="onResize($event)">
    <button mat-icon-button mat-dialog-close class="exit-button" tabindex="-1">
        <mat-icon class="icon">close</mat-icon>
    </button>

    <mat-card-title>
        Création de dessin
    </mat-card-title>

    <form [formGroup]="drawingForm" (ngSubmit)="onSubmit()">
        <div class="size-selection">
            <mat-form-field>
                <mat-label>Largeur</mat-label>
                <input matInput formControlName="width" />
                <mat-error *ngIf="drawingForm.controls.width.invalid">{{ getWidthErrorMessage() }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Hauteur</mat-label>
                <input matInput formControlName="height" />
                <mat-error *ngIf="drawingForm.controls.height.invalid">{{ getHeightErrorMessage() }}</mat-error>
            </mat-form-field>
        </div>
        <app-color-picker [(colorModel)]="backgroundColor"></app-color-picker>
        <button mat-stroked-button mat-dialog-close type="submit" [disabled]="!drawingForm.valid">Confirmer</button>
    </form>
</div>
