:host {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

.exit-button {
    float: right;
    color: rgb(0, 0, 0);
    cursor: hand;
}

.exit-button:hover {
    color: rgb(255, 0, 0);
}

.size-selection {
    display: flex;
    flex-direction: row;
}
