.title {
    text-align: center;
}

.form-field-item {
    width: 120px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.color-picker-item {
    margin-top: 4px;
    margin-bottom: 0;
}

.button {
    width: 120px;
}
