<h1>Couleur</h1>

<div class="colors">
    <div>
        Primaire
        <app-color-container (click)="selectPrimaryColor()" [color]="getPrimaryColor()"></app-color-container>
    </div>
    <div>
        Secondaire
        <app-color-container (click)="selectSecondaryColor()" [color]="getSecondaryColor()"></app-color-container>
    </div>
</div>

<div class="color-picker">
    <div class="color-buttons">
        <button mat-raised-button (click)="swapColors()">
            Swap couleurs
        </button>
        <button mat-raised-button [style.display]="displayColorPicker ? 'block' : 'none'" (click)="confirmColor()">
            Confirmer
        </button>
    </div>

    <app-color-picker
        (colorChanged)="updateColor($event)"
        (previousColorSelected)="displayColorPicker = false"
        [displayColorPicker]="displayColorPicker"
        [setPaletteColor]="getSelectedColor()"
    >
    </app-color-picker>
</div>

<h1>{{ selectedButton.name }}</h1>

<div *ngIf="toolHolderService.tools[selectedButton.toolIndex].toolSettings.has(ToolSetting.Size)">
    <div class="option">
        <h2>Taille</h2>
        <input
            [ngModel]="toolHolderService.tools[selectedButton.toolIndex].toolSettings.get(ToolSetting.Size)"
            (ngModelChange)="toolHolderService.tools[selectedButton.toolIndex].toolSettings.set(ToolSetting.Size, $event)"
        />
    </div>
    <mat-slider
        min="1"
        max="100"
        (input)="toolHolderService.tools[selectedButton.toolIndex].toolSettings.set(ToolSetting.Size, $event.value)"
        [value]="toolHolderService.tools[selectedButton.toolIndex].toolSettings.get(ToolSetting.Size)"
    >
    </mat-slider>
</div>

<div *ngIf="toolHolderService.tools[selectedButton.toolIndex].toolSettings.has(ToolSetting.Color)">
    <div class="option">
        <h2>Couleur</h2>
        <input
            [ngModel]="toolHolderService.tools[selectedButton.toolIndex].toolSettings.get(ToolSetting.Color)"
            (ngModelChange)="toolHolderService.tools[selectedButton.toolIndex].toolSettings.set(ToolSetting.Color, $event)"
        />
    </div>
    <mat-slider
        min="1"
        max="100"
        (input)="toolHolderService.tools[selectedButton.toolIndex].toolSettings.set(ToolSetting.Color, $event.value)"
        [value]="toolHolderService.tools[selectedButton.toolIndex].toolSettings.get(ToolSetting.Color)"
    >
    </mat-slider>
</div>

<div *ngIf="toolHolderService.tools[selectedButton.toolIndex].toolSettings.has(ToolSetting.HasJunction)">
    <div class="option">
        <h2>Taille jonction</h2>
        <input
            [ngModel]="toolHolderService.tools[selectedButton.toolIndex].toolSettings.get(ToolSetting.HasJunction)[1]"
            (ngModelChange)="toolHolderService.tools[selectedButton.toolIndex].toolSettings.set(ToolSetting.HasJunction, [toolHolderService.tools[selectedButton.toolIndex].toolSettings.get(ToolSetting.HasJunction)[0], $event])"
            [disabled] = "!toolHolderService.tools[selectedButton.toolIndex].toolSettings.get(ToolSetting.HasJunction)[0]"
        />
        <mat-checkbox
            [ngModel]="toolHolderService.tools[selectedButton.toolIndex].toolSettings.get(ToolSetting.HasJunction)[0]"
            (ngModelChange)="toolHolderService.tools[selectedButton.toolIndex].toolSettings.set(ToolSetting.HasJunction, [$event, toolHolderService.tools[selectedButton.toolIndex].toolSettings.get(ToolSetting.HasJunction)[1]])">
        </mat-checkbox>
    </div>
    <mat-slider
        min="1"
        max="25"
        (input)="toolHolderService.tools[selectedButton.toolIndex].toolSettings.set(ToolSetting.HasJunction, [toolHolderService.tools[selectedButton.toolIndex].toolSettings.get(ToolSetting.HasJunction)[0], $event.value])"
        [value]="toolHolderService.tools[selectedButton.toolIndex].toolSettings.get(ToolSetting.HasJunction)[1]"
        [disabled] = "!toolHolderService.tools[selectedButton.toolIndex].toolSettings.get(ToolSetting.HasJunction)[0]"
    >
    </mat-slider>
</div>
