<h1>Couleur</h1>

<div class="colors">
    <div>
        Primaire
        <app-color-container (click)="selectPrimaryColor()" [color]="getPrimaryColor()"></app-color-container>
    </div>
    <div>
        Secondaire
        <app-color-container (click)="selectSecondaryColor()" [color]="getSecondaryColor()"></app-color-container>
    </div>
</div>

<button mat-raised-button [style.display]="displayColorPicker ? 'block' : 'none'" (click)="confirmColor()">
    Confirmer
</button>

<app-color-picker [style.display]="displayColorPicker ? 'block' : 'none'" (colorChanged)="updateColor($event)"> </app-color-picker>

<h1>{{ selectedButton.name }}</h1>

<div *ngIf="selectedButton.tool.toolSettings.has(ToolSettings.Size)">
    <div class="option">
        <h2>Taille</h2>
        <input
            [ngModel]="selectedButton.tool.toolSettings.get(ToolSettings.Size)"
            (ngModelChange)="selectedButton.tool.toolSettings.set(ToolSettings.Size, $event)"
        />
    </div>
    <mat-slider
        min="1"
        max="100"
        (input)="selectedButton.tool.toolSettings.set(ToolSettings.Size, $event.value)"
        [value]="selectedButton.tool.toolSettings.get(ToolSettings.Size)"
    >
    </mat-slider>
</div>

<div *ngIf="selectedButton.tool.toolSettings.has(ToolSettings.Color)">
    <div class="option">
        <h2>Couleur</h2>
        <input
            [ngModel]="selectedButton.tool.toolSettings.get(ToolSettings.Color)"
            (ngModelChange)="selectedButton.tool.toolSettings.set(ToolSettings.Color, $event)"
        />
    </div>
    <mat-slider
        min="1"
        max="100"
        (input)="selectedButton.tool.toolSettings.set(ToolSettings.Color, $event.value)"
        [value]="selectedButton.tool.toolSettings.get(ToolSettings.Color)"
    >
    </mat-slider>
</div>
