<h1>{{ selectedButton.name }}</h1>

<div *ngIf="selectedTool.toolSettings.has(ToolSettings.Size)">
    <div class="option">
        <h2>Taille</h2>
        <input
            [ngModel]="selectedTool.toolSettings.get(ToolSettings.Size)"
            (ngModelChange)="selectedTool.toolSettings.set(ToolSettings.Size, $event)"
        />
    </div>
    <mat-slider
        min="1"
        max="100"
        (input)="selectedTool.toolSettings.set(ToolSettings.Size, $event.value)"
        [value]="selectedTool.toolSettings.get(ToolSettings.Size)"
    >
    </mat-slider>
</div>

<div *ngIf="selectedTool.toolSettings.has(ToolSettings.Color)">
    <div class="option">
        <h2>Couleur</h2>
        <input
            [ngModel]="selectedTool.toolSettings.get(ToolSettings.Color)"
            (ngModelChange)="selectedTool.toolSettings.set(ToolSettings.Color, $event)"
        />
    </div>
    <mat-slider
        min="1"
        max="100"
        (input)="selectedTool.toolSettings.set(ToolSettings.Color, $event.value)"
        [value]="selectedTool.toolSettings.get(ToolSettings.Color)"
    >
    </mat-slider>
</div>
