h1,
h2 {
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
}

h2 {
    padding: 0px;
    margin: 0px;
}

input {
    border-radius: 25px;
    border-style: none;
    text-align: center;
}

.option {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;

    input {
        width: 20%;
    }
}

.mat-slider {
    width: 90%;
    margin-left: 5%;
}

.colors {
    display: flex;
    justify-content: space-between;
    color: white;
    vertical-align: middle;
    width: 250px;
    margin-left: 13px;
}

.main-color {
    display: flex;
    align-items: center;
    h4 {
        margin: 10px;
    }
}

.color-picker {
    margin-left: 13px;
}

.color-buttons {
    width: 250px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.select-style {
    margin-left: 5%;
    color: rgb(255, 255, 255);
    text-align: center;
}

.dropdown-style {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .select {
        align-self: center;
        margin-top: 10px;
    }
}

.swap {
    padding-top: 5px;
    padding-bottom: 5px;
}
