<div (window:resize)="onResize($event)">
    <button mat-icon-button class="exit-button" (click)="onClose()">
        <mat-icon class="icon">close</mat-icon>
    </button>

    <mat-card-title>
        Création de dessin
    </mat-card-title>

    <form [formGroup]="drawingForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput type="number" formControlName="height" placeholder="Hauteur" required min="0" max="10000" [height]="formHeight" />
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" formControlName="width" placeholder="Largeur" required min="0" max="10000" [width]="formWidth" />
        </mat-form-field>
        <app-color-picker (colorChanged)="updateColor($event)"></app-color-picker>
        <button mat-stroked-button type="submit" routerLink="/editor" [disabled]="!drawingForm.valid">Confirmer</button>
    </form>
</div>
