:host {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

.exit-button {
    float: right;
    color: rgb(0, 0, 0);
    cursor: hand;

    :hover {
        color: rgb(255, 0, 0);
    }
}
