.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-item {
    justify-content: center;
    text-align: center;
}

.title-item {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}

.buttons-container {
    display: grid;
    width: max-content;
}

.button {
    margin-top: 10px;
    text-align: center;
}

.footer-item {
    text-align: center;
}

.team-name {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}
