<div class="container">
    <mat-toolbar class="header-item" color="primary">Drawsy</mat-toolbar>
    <mat-toolbar class="toolbar-item mat-elevation-z4" ></mat-toolbar>
    <div class="slideshow-item">
        <div class="images-container">
            <img class="home-drawing" *ngFor="let drawing of drawings" [src]="drawing" />
        </div>
    </div>
    <mat-toolbar class="toolbar-item mat-elevation-z4" ></mat-toolbar>
    <div class="buttons-container">
        <button mat-raised-button class="button-item" color="primary" (click)="openNewDrawingModal()">
            <div class="button-content">
                <mat-icon class="button-icon" svgIcon="card-plus-outline"></mat-icon>
                <span class="button-text">Créer un nouveau dessin</span>
            </div>
        </button>
        <button mat-raised-button class="button-item" color="primary" *ngIf="isDrawingStarted" routerLink="/editor">
            <div class="button-content">
                <mat-icon class="button-icon" svgIcon="forward"></mat-icon>
                <span class="button-text">Continuer un dessin</span>
            </div>
        </button>
        <button mat-raised-button class="button-item" color="primary" (click)="openGalleryModal()">
            <div class="button-content">
                <mat-icon class="button-icon" svgIcon="image-multiple-outline"></mat-icon>
                <span class="button-text">Galerie de dessins</span>
            </div>
        </button>
        <button mat-raised-button class="button-item" color="primary" (click)="openGuideModal()">
            <div class="button-content">
                <mat-icon class="button-icon" svgIcon="help-circle-outline"></mat-icon>
                <span class="button-text">Guide d'utilisation</span>
            </div>
        </button>
    </div>
    <mat-toolbar class="toolbar-item reverse-elevation">
        <span align="center" class="footer-item">
            Francis Pepin • Misha Krieger-Raynauld • Samer Massaad • Simon Gauvin
        </span>
    </mat-toolbar>
</div>
