<h3 class="title">Grille</h3>
<form [formGroup]="formGroup" autocomplete="off">
    <div class="grid-settings-container">
        <!-- SIZE -->
        <div class="grid-settings-size-container">
            <button mat-raised-button class="button-item" (click)="toggleGridDisplay()">
                <mat-icon>{{ isGridDisplayEnabled ? 'grid_off' : 'grid_on' }}</mat-icon>
            </button>
            
            <mat-form-field>
                <mat-label>Taille des carrés</mat-label>
                <input
                    matInput
                    class="size-input"
                    formControlName="gridSize"
                    matTooltipClass="error-tooltip"
                />
                <mat-error *ngIf="formGroup.controls.gridSize.invalid">{{ getErrorMessage(formGroup.controls.gridSize) }}</mat-error>
            </mat-form-field>
            <div>
                <button
                    mat-raised-button
                    class="button-item"
                    [disabled]="!canDecreaseGridSize()"
                    (click)="decreaseGridSize()">
                    <mat-icon>remove</mat-icon>
                </button>
                <button
                    mat-raised-button
                    class="button-item"
                    [disabled]="!canIncreaseGridSize()"
                    (click)="increaseGridSize()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <!-- END SIZE -->

        <!-- OPACITY -->
        <div class="grid-settings-size-container">
            <mat-form-field>
                <mat-label>Opacité de la grille</mat-label>
                <input
                    matInput
                    class="opacity-input"
                    formControlName="gridOpacity"
                    matTooltipClass="error-tooltip"
                />
                <mat-error *ngIf="formGroup.controls.gridOpacity.invalid">{{ getErrorMessage(formGroup.controls.gridOpacity) }}</mat-error>
            </mat-form-field>
            <mat-slider
                class="slider"
                min="{{ minGridOpacity }}"
                max="{{ maxGridOpacity }}"
                step="0.01"
                (input)="gridOpacity = $event.value"
                [value]="gridOpacity"
            ></mat-slider>
        </div>
        <!-- END OPACITY -->
    </div>
</form>
