.title {
    margin: 4px;
    text-align: center;
}

.grid-setting-container {
    display: grid;
    grid-template-areas:
        'setting-name setting-name input-field'
        'slider slider slider';
}

.setting-name-item {
    grid-area: setting-name;
    align-self: end;
    margin-bottom: 0;
}

.grid-display-container-margin {
    margin-bottom: 12px;
}

.toggle-item {
    grid-area: input-field;
    justify-self: right;
}

.form-field-item {
    grid-area: input-field;
    justify-self: right;
    width: 100px;
    text-align: right;

    ::ng-deep .mat-form-field-wrapper {
        margin-top: -1.25em;
        margin-bottom: -1.25em;
    }
}

.slider-item {
    grid-area: slider;
    width: 100%;
}
