<h3 class="title">Grille</h3>
<form [formGroup]="formGroup" autocomplete="off">
    <div class="grid-setting-container grid-display-container-margin">
        <h4 class="setting-name-item">Affichage de la grille</h4>
        <mat-slide-toggle class="toggle-item" formControlName="gridDisplayEnabled"></mat-slide-toggle>
    </div>

    <div class="grid-setting-container">
        <h4 class="setting-name-item">Taille des carrés</h4>
        <mat-form-field class="form-field-item">
            <input matInput formControlName="gridSize"/>
            <span matSuffix>px</span>
            <mat-error *ngIf="formGroup.controls.gridSize.invalid">{{ getErrorMessage(formGroup.controls.gridSize, '0-9') }}</mat-error>
        </mat-form-field>
        <mat-slider
            class="slider-item"
            step="5"
            [min]="minGridSize"
            [max]="maxGridSize"
            [value]="gridSize"
            (input)="gridSize = $event.value"
        >
        </mat-slider>
    </div>

    <div class="grid-setting-container">
        <h4 class="setting-name-item">Opacité</h4>
        <mat-form-field class="form-field-item">
            <input matInput formControlName="gridOpacity"/>
            <mat-error *ngIf="formGroup.controls.gridOpacity.invalid">{{ getErrorMessage(formGroup.controls.gridOpacity, 'Nombre') }}</mat-error>
            <span matSuffix></span>
        </mat-form-field>
        <mat-slider
            class="slider-item"
            step="0.01"
            [min]="minGridOpacity"
            [max]="maxGridOpacity"
            [value]="gridOpacity"
            (input)="gridOpacity = $event.value"
        >
        </mat-slider>
    </div>
</form>
