<h1 class="title">Rectangle</h1>
<h2>Description</h2>
<p>
    L’outil de Rectangle permet de dessiner des rectangles sur la surface de dessin. 
    Il est possible de choisir la taille de la bordure du rectangle à l’aide d’une barre de défilement. 
    Trois types de tracé sont disponibles. Le tracé plein permet de produire une surface rectangulaire complètement remplie de la couleur primaire. 
    Le tracé plein avec contour reprend ce même concept et ajoute une bordure de couleur différente. 
    Le tracé contour dessine une forme rectangulaire dont l’intérieur est vide. 
    Il est possible d’appuyer sur la touche Shift pour produire un carré.
</p>
<h2>Utilisation</h2>
<ul>
    <li>Appuyer sur le bouton gauche de la souris au point où se trouvera un coin du rectangle.</li>
    <li>Garder le bouton de la souris enfoncé et balayer l’écran jusqu’à avoir un rectangle de votre goût</li>
    <li>Relâcher le bouton de la souris pour compléter le rectangle</li>
</ul>
