<div class="mat-app-background">
    <mat-toolbar class="mat-elevation-z8">Bienvenue sur l'application Polydessin!</mat-toolbar>
    <mat-toolbar class="mat-elevation-z4" color="primary">
        Polydessin
    </mat-toolbar>
    <div>
        <mat-card class="item-buttons">
            <button mat-raised-button class="button" (click)="openNewDrawingModal()">Créer un nouveau dessin</button>
            <button mat-raised-button class="button" (click)="continueDrawing()" *ngIf="isDrawingStarted">
                Continuer un dessin
            </button>
            <button mat-raised-button class="button" (click)="openGalleryModal()">Galerie de dessins</button>
            <button mat-raised-button class="button" (click)="openGuideModal()">Guide d'utilisation</button>
        </mat-card>
    </div>
    <div class="footer">
        <mat-divider></mat-divider>
        <p class="mat-body">Équipe 203</p>
        <p class="mat-body">Francis Pepin • Justin van den Hanenberg • Misha Krieger-Raynauld • Samer Massaad • Simon Gauvin</p>
    </div>
</div>
