.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header-item {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.title-item {
    width: 20%;
    min-width: min-content;
    justify-content: center;
}

.footer-item {
    text-align: center;
}

.buttons-item {
    display: grid;
    width: max-content;
}

.button {
    margin-top: 10px;
}
