<h1 class="title">Pipette</h1>
<h2>Description</h2>
<p>
    Dans le cas où vous souhaitez sélectionner une couleur déjà présente sur votre dessin, la pipette vous permet de rapidement la choisir
    et de l'appliquer pour votre prochain ajout sur la toile. Cet outil est particulièrement utile lorsqu'une couleur présente sur le dessin
    n'est plus présente dans les dix dernières couleurs sélectionnées. Un clic droit de la souris assigne la couleur principale et un clic
    gauche assigne la couleur secondaire.
</p>
<h2>Utilisation</h2>
<ul>
    <li>Sélectionner l’icône de la pipette dans la barre d’outils</li>
    <li>Effectuer un clic droit sur une couleur pour la définir comme couleur primaire</li>
    <li>Effectuer un clic gauche sur une couleur pour la définir comme couleur secondaire</li>
</ul>
