<div class="container">
    <button mat-raised-button class="toggle-button" (click)="gridService.toggleGrid(); selectIcon()">
        <mat-icon>{{ icon }}</mat-icon>
    </button>
    <div class="dimension-buttons-container">
        <mat-form-field class="form-field">
            <input matInput value="{{ gridService.gridSize }}" disabled class="input" placeholder="Taille du carré" />
        </mat-form-field>
        <button mat-raised-button class="input-button" (click)="gridService.lowerGridSize()">
            <mat-icon>remove</mat-icon>
        </button>
        <button mat-raised-button class="input-button" (click)="gridService.raiseGridSize()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <h4 class="mat-h4">Alpha</h4>
    <input matInput value="{{ gridService.opacity }}" disabled class="alpha-input" placeholder="Valeur du alpha" />
    <mat-slider
        class="slider"
        min="10"
        max="100"
        (input)="gridService.updateOpacity($event.value)"
        [value]="gridService.opacity * gridService.opacityRange"
    ></mat-slider>
    <mat-divider class="divider"></mat-divider>
</div>
