<button mat-icon-button class="exit-button" (click)="close()">
        <mat-icon class="icon">close</mat-icon>
</button>
<h1 class="header">Création de dessin</h1>
<mat-form-field class="form">
    
    <div class="vertical-container">
        <input matInput type="number" placeholder="Hauteur" class="number-input" [(ngModel)]="drawingHeigth">
        <input matInput type="number" placeholder="Largeur" class="number-input" [(ngModel)]="drawingWidth">
    </div>
</mat-form-field>
<button mat-stroked-button routerLink="/editor" class="confirm-button" (click)="close()">CONFIRMER</button>
