.form {
    width: 100%;
    text-align: center;
}

.exit-button {
    float: right;
    color: rgb(0, 0, 0);
    cursor: pointer;

    :hover {
        color: rgb(255, 0, 0);
    }
}

.confirm-button {
    float: right;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 0px;
}

.number-input {
    width: 80%;
    padding-bottom: 30px;
    padding-top: 0px;
}

.header {
    font-size: 25px;
}
