.sidebar {
    height: 100%;
    background-color: rgb(230, 230, 230);
}

.main-menu {
    list-style: none;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-item,
.collapse-menu-item,
.secondary-collapse-menu-item,
.collapse-button,
.secondary-collapse-button {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgb(110, 109, 109);
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.menu-item:hover,
.collapse-menu-item:hover,
.collapse-button:hover,
.secondary-collapse-button:hover {
    color: rgb(255, 64, 129);
}

.collapse-button,
.secondary-collapse-button {
    padding-top: 0px;
    padding-bottom: 0px;
}

.collapse-menu-item,
.secondary-collapse-button {
    padding-left: 20px;
}

.secondary-collapse-menu-item {
    padding-left: 40px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0px;
}

ul,
li {
    user-select: none;
}
