<div class="sidebar">
    <nav>
        <ul class="main-menu">
            <li class="menu-item" (click)="selectGuide.emit(0)">Bienvenue</li>
            <li>
                <div class="collapse-button" (click)="toggleCollapseMenu()">
                    <h4>Outils</h4>
                </div>
                <ul [class.category-menu-hidden]="isClosed">
                    <li class="collapse-menu-item" (click)="selectGuide.emit(1)">Crayon</li>
                    <li class="collapse-menu-item" (click)="selectGuide.emit(2)">Pinceau</li>
                    <li class="collapse-menu-item" (click)="selectGuide.emit(3)">Ligne</li>
                    <li class="collapse-menu-item" (click)="selectGuide.emit(4)">Rectangle</li>
                    <li class="collapse-menu-item" (click)="selectGuide.emit(5)">Couleur</li>
                </ul>
            </li>
            <li>
                <div class="collapse-button">
                    <h4>Fichiers</h4>
                </div>
            </li>
            <li>
                <div class="collapse-button">
                    <h4>Exporter</h4>
                </div>
            </li>
        </ul>
    </nav>
</div>
