<h1 class="title">Couleur</h1>
<h2>Description</h2>
<p>
    L’option de couleur est présente chez tous les outils. Un panneau de sélection de couleur permet de choisir une couleur primaire et une
    couleur secondaire. Ces couleurs sont partagées par tous les outils. En plus de choisir la couleur, une barre de défilement permet de
    définir la transparence désirée pour la couleur. Il est possible d’interchanger la couleur primaire et secondaire à l’aide d’un bouton.
    Ensuite, il est aussi possible d’entrer des valeurs RGB pour sélectionner une couleur dans un champ texte sous le panneau de couleur.
    Les 10 dernières couleurs utilisées sont gardées en mémoire et sont rapidement disponible au-dessus du panneau de couleur.
</p>
<h2>Utilisation</h2>
<ul>
    <li>Utiliser la barre de défilement pour changer les couleurs disponibles sur le panneau de couleur</li>
    <li>Choisir une couleur en cliquant sur le panneau de couleur</li>
    <li>Ajuster la transparence avec la deuxième barre de défilement</li>
    <li>Appuyer sur le bouton confirmer pour enregistrer la couleur</li>
</ul>
