<mat-drawer-container class="container">
    <div class="button-selection">
        <div class="option-selection">
            <button mat-icon-button class="tool-button" (click)="drawer.toggle()">
                <mat-icon class="mat-icon">dehaze</mat-icon>
            </button>

            <p class="title">Outils</p>

            <button
                mat-stroked-button
                *ngFor="let button of buttons; let i = index"
                class="tool-button"
                [class.selected]="button === selectedButton"
                (click)="setSelectedTool(i); drawer.open()"
                title="{{ button.name }}"
            >
                <mat-icon class="mat-icon">{{ button.icon }}</mat-icon>
            </button>
        </div>
        <div class="option-selection">
            <button mat-stroked-button class="option-button" (click)="openGuideModal()" title="Guide d'utilisation">?</button>
            <button mat-stroked-button class="option-button" routerLink="/entry-point">
                <mat-icon class="mat-icon">home</mat-icon>
            </button>
        </div>
    </div>
    <mat-drawer #drawer mode="side" position="end" opened class="tool-settings">
        <div>
            <app-panel-settings></app-panel-settings>
        </div>
    </mat-drawer>
</mat-drawer-container>
