.color-picker-container {
    width: 250px;
}

.recent-colors {
    grid-template-areas:
        'color' 'color' 'color' 'color' 'color'
        'color' 'color' 'color' 'color' 'color';
    justify-content: space-around;
    text-align: center;
}

.recent-colors-item {
    grid-area: 'color';
    margin: 10px;
}

.mat-slider {
    padding: 0px;
    width: 200px;
}

.alpha-text {
    padding-top: 12px;
    padding-right: 5px;
}

.alpha-slider {
    display: flex;
    width: 250px;
}

input {
    border-radius: 25px;
    border-style: none;
    text-align: center;
    width: 70px;
    margin-left: 2px;
    margin-right: 2px;
}
