<h1 class="title">Seau de peinture</h1>
<h2>Description</h2>
<p>
    Le seau de peinture est un outil très utile permettant de remplir une région de la couleur principale en créant un objet ayant la forme
    de la région. Le pourcentage de tolérance modifiable dans la barre latérale permet de définir l'étendue de la région à remplir.
    Cependant, il faut être vigilant lors de l'utilisation de cet outil, car un clic dans une région grande et complexe ralentira
    l'application pendant un court moment. L'objet créé suite au clic sera manipulable de la même façon que tout autre objet dans le dessin.
</p>
<h2>Utilisation</h2>
<ul>
    <li>Sélectionner l’icône du seau de peinture dans la barre d’outils</li>
    <li>Ajuster la tolérance d'écart (%)</li>
    <li>Appuyer sur le bouton gauche de la souris dans une région du dessin pour la remplir</li>
</ul>
