<h1 class="title">Sceau de peinture</h1>
<h2>Description</h2>
<p>
    Le sceau de peinture est l'outil dont nous sommes le moins fier. Cet outil permet de remplir une région de la couleur principale en
    créant un objet de la forme de la région. Le pourcentage de tolérance modifiable dans la barre latérale permet de définir l'étendue de
    la région à remplir. Cependant, il faut être très vigilant lors de l'utilisation de cet outil, car un clic dans un région trop grande
    ralentira l'application de façon significative. Il est donc plus judicieux d'utiliser cet outil sur des petites lignes ou dans une
    petite région. Cet outil sera amélioré, promis juré.
</p>
<h2>Utilisation</h2>
<ul>
    <li>Sélectionner l’icône du sceau de peinture dans la barre d’outils</li>
    <li>Ajuster la tolérance d'écart (%)</li>
    <li>Appuyer sur le bouton gauche de la souris dans une région du dessin pour la remplir</li>
    <li>Espérer que votre ordinateur est capable de supporter l'outil</li>
</ul>
