<h1 class="title">Grille</h1>
<h2>Description</h2>
<p>
    La grille permet d'être plus précis en faisant un dessin. Cette fonctionnalité est particulièrement utile avec les outils de ligne et de
    formes. Elle peut être activée grâce à la touche <i>G</i>. Il est aussi possible d'augmenter la taille de rectangles de la grille à
    l'aide de la touche <i>+</i>, ainsi que de réduire cette même taille à l'aide de la touche <i>-</i>. Ces mêmes options sont accessibles
    dans la fenêtre modale des paramètres, avec l'ajout d'une barre de défilement permettant de modifier la transparence de la grille afin
    d'accomoder les préférences de chaque utilisateur.
</p>

<h2>Utilisation</h2>
<ul>
    <li>Activer ou désactiver la grille avec la touche <i>G</i></li>
    <li>Augmenter la taille de la grille avec la touche <i>+</i></li>
    <li>Diminuer la taille de la grille avec la touche <i>-</i></li>
    <li>Accéder à la fenêtre modale des paramètres</li>
    <li>Modifier la transparence de la grille avec la barre de défilement</li>
</ul>
