<svg #appDrawingRoot xmlns="http://www.w3.org/2000/svg" [attr.viewBox]="getViewBox()" [attr.width]="getWidth()" [attr.height]="getHeight()">
    <desc>
        <title>THIS WILL BE THE TITLE</title>
        label1,label2,label3
    </desc>

    <defs>
        <filter id="texture1" filterUnits="userSpaceOnUse">
            <feGaussianBlur in="SourceGraphic" stdDeviation="5" />
        </filter>

        <filter id="texture2" filterUnits="userSpaceOnUse">
            <feTurbulence type="turbulence" baseFrequency="0.1 0.1" numOctaves="4" result="turbulence2" />
            <feDisplacementMap in2="turbulence2" in="SourceGraphic" scale="15" />
        </filter>

        <filter id="texture3" filterUnits="userSpaceOnUse">
            <feDropShadow stdDeviation="5" in="SourceGraphic" dx="10" dy="10" flood-color="#80868b" result="shadow3" />
            <feGaussianBlur in="SourceGraphic" stdDeviation="15" result="blur3" />
            <feMerge>
                <feMergeNode in="SourceGraphic" />
                <feMergeNode in="shadow3" />
                <feMergeNode in="blur3" />
            </feMerge>
        </filter>

        <filter id="texture4" filterUnits="userSpaceOnUse">
            <feGaussianBlur in="SourceAlpha" stdDeviation="5" result="blur4" />
            <feSpecularLighting
                in="blur4"
                surfaceScale="5"
                specularConstant=".17"
                specularExponent="50"
                lighting-color="#e4e4e4"
                result="specular4"
            >
                <fePointLight x="10000" y="10000" z="30000" />
            </feSpecularLighting>
            <feComposite in="specular4" in2="SourceAlpha" operator="in" result="specular4" />
            <feComposite in="SourceGraphic" in2="specular4" operator="arithmetic" k2="1" k3="1" />
        </filter>

        <filter id="texture5" filterUnits="userSpaceOnUse">
            <feTurbulence type="turbulence" baseFrequency="0.1 0.1" numOctaves="4" result="turbulence5" />
            <feDiffuseLighting surfaceScale="5" diffuseConstant="0.05" in="turbulence5" result="diffuse5">
                <feDistantLight azimuth="6" elevation="5" />
            </feDiffuseLighting>
            <feComposite in="diffuse5" in2="SourceAlpha" operator="in" result="result5" />
            <feComposite in="SourceGraphic" in2="result5" operator="arithmetic" k2="1" k3="1" />
        </filter>

        <filter id="previewTexture0">
            <feComposite in="SourceGraphic" in2="SourceGraphic" operator="in" result="composite" />
        </filter>

        <filter id="previewTexture1" x="-10%" y="-10%" width="120%" height="120%" filterUnits="userSpaceOnUse">
            <feColorMatrix
                type="matrix"
                values="0 1 0 0 0
                    0 1 0 0 0
                    0 1 0 0 0
                    0 1 0 1 0 "
            />
        </filter>

        <filter id="previewTexture2" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
            <feColorMatrix type="luminanceToAlpha" />
            <feComponentTransfer>
                <feFuncA type="table" tableValues="0 .2 0.5 .8 1 .8 0.5 .20 0" />
            </feComponentTransfer>
            <feComposite operator="in" in="SourceGraphic" />
            <feColorMatrix
                type="matrix"
                result="sepia-clip"
                values="0.39 0.769 0.189 0  0
                    0.349 0.686 0.168 0  0
                    0.272 0.534 0.131 0  0
                      0  0 0 1  0"
            />
            <feColorMatrix
                in="SourceGraphic"
                type="matrix"
                result="gscale"
                values="0.2126 0.7152 0.0722 0 0
                                  0.2126 0.7152 0.0722 0 0
                                  0.2126 0.7152 0.0722 0 0
                                  0 0 0 1 0"
            />
            <feComposite operator="over" in="sepia-clip" in2="gscale" />
        </filter>

        <filter id="previewTexture3" filterUnits="userSpaceOnUse">
            <feFlood x="4" y="4" height="2" width="2" />
            <feComposite width="10" height="10" />
            <feTile result="flood" />
            <feComposite in="SourceGraphic" in2="flood" operator="in" />
            <feMorphology operator="dilate" radius="5" />
        </filter>

        <filter id="previewTexture4" filterUnits="userSpaceOnUse">
            <feGaussianBlur stdDeviation="0 2" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic" edgeMode="none" result="blur" />
            <feComposite in="blur" in2="blur" operator="arithmetic" k1="2.3" k2="1.4" k3="-0.1" k4="-0.1" result="composite1" />
        </filter>

        <filter id="previewTexture5" filterUnits="userSpaceOnUse">
            <feTurbulence type="turbulence" baseFrequency="0.034 0.047" numOctaves="2" seed="2" stitchTiles="stitch" result="turbulence1" />
            <feTurbulence type="turbulence" baseFrequency="1.999 2.001" numOctaves="2" seed="2" stitchTiles="stitch" result="turbulence2" />
            <feComposite in="SourceGraphic" in2="turbulence1" operator="in" result="composite1" />
            <feComposite in="composite1" in2="SourceGraphic" operator="lighter" />
            <feComposite in="SourceGraphic" in2="turbulence2" operator="lighter" />
        </filter>
    </defs>

    <rect width="100%" height="100%" [attr.fill]="getBackgroundColor()" />

    <g></g>
</svg>
