<svg
    #appDrawingRoot
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    baseProfile="full"
    [attr.width]="getWidth()"
    [attr.height]="getHeight()"
>
    <metadata></metadata>
    <defs>
        <filter id="texture1" filterUnits="userSpaceOnUse">
            <feGaussianBlur in="SourceGraphic" stdDeviation="5" />
        </filter>

        <filter id="texture2" filterUnits="userSpaceOnUse">
            <feTurbulence type="turbulence" baseFrequency="0.1 0.1" numOctaves="4" result="turbulence2" />
            <feDisplacementMap in2="turbulence2" in="SourceGraphic" scale="15" />
        </filter>

        <filter id="texture3" filterUnits="userSpaceOnUse">
            <feDropShadow stdDeviation="5" in="SourceGraphic" dx="10" dy="10" flood-color="#80868b" result="shadow3" />
            <feGaussianBlur in="SourceGraphic" stdDeviation="15" result="blur3" />
            <feMerge>
                <feMergeNode in="SourceGraphic" />
                <feMergeNode in="shadow3" />
                <feMergeNode in="blur3" />
            </feMerge>
        </filter>

        <filter id="texture4" filterUnits="userSpaceOnUse">
            <feGaussianBlur in="SourceAlpha" stdDeviation="5" result="blur4" />
            <feSpecularLighting
                in="blur4"
                surfaceScale="5"
                specularConstant=".17"
                specularExponent="50"
                lighting-color="#e4e4e4"
                result="specular4"
            >
                <fePointLight x="10000" y="10000" z="30000" />
            </feSpecularLighting>
            <feComposite in="specular4" in2="SourceAlpha" operator="in" result="specular4" />
            <feComposite in="SourceGraphic" in2="specular4" operator="arithmetic" k2="1" k3="1" />
        </filter>

        <filter id="texture5" filterUnits="userSpaceOnUse">
            <feTurbulence type="turbulence" baseFrequency="0.1 0.1" numOctaves="4" result="turbulence5" />
            <feDiffuseLighting surfaceScale="5" diffuseConstant="0.05" in="turbulence5" result="diffuse5">
                <feDistantLight azimuth="6" elevation="5" />
            </feDiffuseLighting>
            <feComposite in="diffuse5" in2="SourceAlpha" operator="in" result="result5" />
            <feComposite in="SourceGraphic" in2="result5" operator="arithmetic" k2="1" k3="1" />
        </filter>

        <filter id="monochrome" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
            <feColorMatrix
                type="matrix"
                values="1.00 0 0 0  0 
                        0.80 0 0 0  0  
                        0.65 0 0 0  0 
                        0  0 0 1  0"
            />
        </filter>
    </defs>

    <rect width="100%" height="100%" [attr.fill]="getBackgroundColor()" />

    <g></g>
</svg>
