.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title {
    text-align: center;
}

.settings-container {
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.size-container {
    display: grid;
    grid-template-areas:
        'setting-name input-field'
        'slider slider'
        'divider divider';
}

.junction-container {
    display: grid;
    grid-template-areas:
        'setting-name toggle input-field'
        'slider slider slider'
        'divider divider divider';
}

.shape-type-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.setting-name-item {
    grid-area: setting-name;
    align-self: end;
    margin-bottom: 0;
}

.color-title {
    margin-top: 1em;
    margin-bottom: 0.25em;
}

.brush-texture-title {
    margin-top: 1em;
    margin-bottom: 0;
}

.shape-type-title {
    margin-bottom: 0;
}

.form-field {
    grid-area: input-field;
    text-align: right;
    width: 70px;
    justify-self: right;

    ::ng-deep .mat-form-field-wrapper {
        margin-bottom: -1.25em;
    }
}

.mat-slider {
    grid-area: slider;
    width: 100%;
}

.toggle {
    grid-area: toggle;
    margin-top: 12px;
    align-self: center;
    justify-self: center;
}

.dropdown {
    margin-top: 10px;
    width: 100%;
}

.divider-item {
    grid-area: divider;
    width: 100%;
}

.undo-redo-container {
    justify-self: flex-end;
    display: flex;
    justify-content: space-evenly;
}

.undo-button {
    margin-bottom: 10px;
}

.redo-button {
    margin-bottom: 10px;
}

.command-icon {
    transform: scale(1.4);
}

h1,
h2,
div,
p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
