<div class="container">
    <h1 class="mat-h1">{{ getToolName() }}</h1>

    <app-sidebar-color-picker></app-sidebar-color-picker>

    <div *ngIf="hasSetting(ToolSetting.Size)" class="size-container">
        <h2 class="mat-h2">Taille</h2>
        <form [formGroup]="sizeGroup" class="form">
            <mat-form-field class="form-field">
                <input matInput formControlName="size" />
                <mat-error>Invalide</mat-error>
                <span matSuffix>px</span>
            </mat-form-field>
        </form>
        <mat-slider min="1" max="500" (input)="sizeGroup.controls.size.setValue($event.value)" [value]="sizeGroup.controls.size.value">
        </mat-slider>
    </div>

    <div *ngIf="hasSetting(ToolSetting.JunctionSettings)" class="junction-container">
        <h2 class="mat-h2">Taille jonction</h2>
        <form [formGroup]="junctionSizeGroup">
            <mat-form-field class="form-field">
                <input matInput formControlName="junctionSize" />
                <mat-error>Invalide</mat-error>
                <span matSuffix>px</span>
            </mat-form-field>
        </form>

        <mat-slide-toggle
            [ngModel]="getSetting(ToolSetting.JunctionSettings).hasJunction"
            (ngModelChange)="
                setSetting(ToolSetting.JunctionSettings, {
                    hasJunction: $event,
                    junctionSize: getSetting(ToolSetting.JunctionSettings).junctionSize
                })
            "
            class="toggle"
        ></mat-slide-toggle>
        <mat-slider
            min="1"
            max="100"
            (input)="junctionSizeGroup.controls.junctionSize.setValue($event.value)"
            [value]="junctionSizeGroup.controls.junctionSize.value"
            [disabled]="!getSetting(ToolSetting.JunctionSettings).hasJunction"
        >
        </mat-slider>
    </div>

    <div *ngIf="hasSetting(ToolSetting.StrokeType)">
        <h2 class="mat-h2">Type de tracé</h2>
        <div class="dropdown">
            <mat-form-field class="select">
                <mat-label>Type de tracé</mat-label>
                <mat-select
                    [value]="getSetting(ToolSetting.StrokeType)"
                    (selectionChange)="setSetting(ToolSetting.StrokeType, $event.value)"
                >
                    <mat-option [value]="StrokeTypes.FillWithBorder">Plein avec contour</mat-option>
                    <mat-option [value]="StrokeTypes.FillOnly">Plein</mat-option>
                    <mat-option [value]="StrokeTypes.BorderOnly">Contour</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div *ngIf="hasSetting(ToolSetting.Texture)">
        <h2 class="mat-h2">Type de texture</h2>
        <div class="dropdown">
            <mat-form-field>
                <mat-label>Type de texture</mat-label>
                <mat-select [value]="getSetting(ToolSetting.Texture)" (selectionChange)="setSetting(ToolSetting.Texture, $event.value)">
                    <mat-option [value]="Textures.Texture1">Vent d'automne</mat-option>
                    <mat-option [value]="Textures.Texture2">Âme fragile</mat-option>
                    <mat-option [value]="Textures.Texture3">Ombre du matin</mat-option>
                    <mat-option [value]="Textures.Texture4">Chlorophylle</mat-option>
                    <mat-option [value]="Textures.Texture5">Innocence juvénile</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
