@import 'src/styles.scss';

.container {
    height: 100vh;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.size-container {
    display: grid;
    grid-template-areas:
        'tool-name input-field'
        'slider slider'
        'divider divider';
}

.junction-container {
    display: grid;
    grid-template-areas:
        'tool-name toggle input-field'
        'slider slider slider'
        'divider divider divider';
}

.mat-h1 {
    text-align: center;
    font-weight: 500;
}

.mat-h2 {
    grid-area: tool-name;
    text-align: left;
    margin-top: 16px;
}

.color-title {
    margin-top: 0px;
}

.form {
    justify-self: right;
}

.form-field {
    grid-area: input-field;
    text-align: right;
    width: 70px !important;
}

.mat-slider {
    grid-area: slider;
    width: 100%;
}

.toggle {
    grid-area: toggle;
    align-self: center;
    justify-self: center;
}

.dropdown {
    margin-top: 10px;
    width: 100%;
}

.divider {
    grid-area: divider;
    width: 100%;
}

::ng-deep .error-tooltip {
    color: $warn !important;
}

.toggle-buttons-container {
    text-align: center;
    margin-bottom: 26px;
}

.undo-redo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.undo-redo-title {
    grid-area: title;
}

.undo-button {
    grid-area: undo;
    margin-bottom: 10px;
}

.redo-button {
    grid-area: redo;
    margin-bottom: 10px;
}

.command-icon {
    transform: scale(1.5);
}
