<div class="container">
    <mat-toolbar class="title-item" color="primary">{{ currentToolName }}</mat-toolbar>

    <div class="settings-container">
        <h3 class="color-title-item">Couleur</h3>
        <app-sidebar-color-picker></app-sidebar-color-picker>
        <mat-divider></mat-divider>

        <ng-container *ngFor="let formControlContainer of sizeFormControls">
            <div *ngIf="getProperty(this.currentToolSettings, formControlContainer.toolSetting) !== undefined" class="size-container">
                <h3 class="setting-title-item">{{ formControlContainer.title }}</h3>
                <mat-form-field
                    class="form-field-item"
                    [matTooltip]="getErrorMessage(formControlContainer.formControl)"
                    [matTooltipDisabled]="formControlContainer.formControl.valid"
                    matTooltipClass="theme-error-tooltip"
                >
                    <input matInput [formControl]="formControlContainer.formControl" />
                    <span matSuffix>{{ formControlContainer.suffix }}</span>
                </mat-form-field>
                <mat-slider
                    class="slider-item"
                    [min]="formControlContainer.minimum"
                    [max]="formControlContainer.maximum"
                    [value]="formControlContainer.formControl.value"
                    (input)="formControlContainer.formControl.setValue($event.value)"
                >
                </mat-slider>
                <mat-divider class="divider-item"></mat-divider>
            </div>
        </ng-container>

        <div *ngIf="currentToolSettings.brushTexture !== undefined">
            <h3 class="brush-texture-title-item">Type de texture</h3>
            <mat-form-field class="dropdown-item">
                <mat-label>Sélection</mat-label>
                <mat-select [(value)]="currentToolSettings.brushTexture">
                    <mat-option [value]="BrushTexture.Graffiti">Âme fragile</mat-option>
                    <mat-option [value]="BrushTexture.Blur">Vent d'automne</mat-option>
                    <mat-option [value]="BrushTexture.Shadow">Ombre du matin</mat-option>
                    <mat-option [value]="BrushTexture.Matte">Chlorophylle</mat-option>
                    <mat-option [value]="BrushTexture.Fabric">Innocence juvénile</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-divider class="divider-item"></mat-divider>
        </div>

        <div *ngIf="currentToolSettings.junctionSettings !== undefined" class="junction-container">
            <h3 class="setting-title-item">Taille jonction</h3>
            <mat-form-field
                class="form-field-item"
                [matTooltip]="getErrorMessage(junctionDiameterFormControl)"
                [matTooltipDisabled]="junctionDiameterFormControl.valid"
                matTooltipClass="theme-error-tooltip"
            >
                <input matInput [formControl]="junctionDiameterFormControl" />
                <span matSuffix>px</span>
            </mat-form-field>
            <mat-slide-toggle class="toggle-item" [formControl]="junctionEnabledFormControl"></mat-slide-toggle>
            <mat-slider
                class="slider-item"
                [disabled]="!junctionEnabledFormControl.value"
                [min]="minimumJunctionDiameter"
                [max]="maximumJunctionDiameter"
                [value]="junctionDiameterFormControl.value"
                (input)="junctionDiameterFormControl.setValue($event.value)"
            >
            </mat-slider>
            <mat-divider class="divider-item"></mat-divider>
        </div>

        <div *ngIf="currentToolSettings.shapeType !== undefined">
            <div class="shape-type-container">
                <h3 class="shape-type-title-item">Tracé</h3>
                <mat-button-toggle-group [(ngModel)]="currentToolSettings.shapeType">
                    <mat-button-toggle
                        class="shape-type-toggle-button"
                        [class.theme-selected-button]="currentToolSettings.shapeType === ShapeType.FillWithBorder"
                        [value]="ShapeType.FillWithBorder"
                    >
                        <mat-icon svgIcon="checkbox-intermediate"></mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle
                        class="shape-type-toggle-button"
                        [class.theme-selected-button]="currentToolSettings.shapeType === ShapeType.FillOnly"
                        [value]="ShapeType.FillOnly"
                    >
                        <mat-icon svgIcon="checkbox-blank"></mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle
                        class="shape-type-toggle-button"
                        [class.theme-selected-button]="currentToolSettings.shapeType === ShapeType.BorderOnly"
                        [value]="ShapeType.BorderOnly"
                    >
                        <mat-icon svgIcon="checkbox-blank-outline"></mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <mat-divider class="divider-item"></mat-divider>
        </div>
    </div>

    <div class="command-container">
        <mat-divider></mat-divider>
        <div class="clipboard-container">
            <button mat-icon-button class="command-item" matTooltip="Copier" [disabled]="!canModifySelection" (click)="copyCommand()">
                <mat-icon svgIcon="content-copy"></mat-icon>
            </button>
            <button mat-icon-button class="command-item" matTooltip="Coller" [disabled]="!canPasteElements" (click)="pasteCommand()">
                <mat-icon svgIcon="content-paste"></mat-icon>
            </button>
            <button mat-icon-button class="command-item" matTooltip="Couper" [disabled]="!canModifySelection" (click)="cutCommand()">
                <mat-icon svgIcon="content-cut"></mat-icon>
            </button>
            <button
                mat-icon-button
                class="command-item"
                matTooltip="Dupliquer"
                [disabled]="!canModifySelection"
                (click)="duplicateCommand()"
            >
                <mat-icon svgIcon="content-duplicate"></mat-icon>
            </button>
            <button mat-icon-button class="command-item" matTooltip="Supprimer" [disabled]="!canModifySelection" (click)="deleteCommand()">
                <mat-icon svgIcon="delete-outline"></mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
        <div class="undo-redo-container">
            <button mat-icon-button class="command-item" matTooltip="Annuler" [disabled]="!isUndoAvailable" (click)="undoCommand()">
                <mat-icon svgIcon="undo-variant"></mat-icon>
            </button>
            <button mat-icon-button class="command-item" matTooltip="Refaire" [disabled]="!isRedoAvailable" (click)="redoCommand()">
                <mat-icon svgIcon="redo-variant"></mat-icon>
            </button>
        </div>
    </div>
</div>
