<h1 mat-dialog-title class="title">Sauvegarder le dessin</h1>
<form [formGroup]="saveDrawingFormGroup" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="content">
        <mat-form-field class="chip-list">
            <mat-chip-list #chipList aria-label="Sélection des étiquettes">
                <mat-chip *ngFor="let label of labels" selectable="true" removable="true" (removed)="removeLabel(label)">
                    {{ label }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input
                    placeholder="Nouvelle étiquette (Chiffres 0-9, lettres a-z et A-Z et 15 caractères maximum)"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    matChipInputAddOnBlur="true"
                    (matChipInputTokenEnd)="addLabel($event)"
                />
                <mat-error *ngIf="saveDrawingFormGroup.controls.labels.invalid">{{ getLabelError() }}</mat-error>
            </mat-chip-list>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Titre</mat-label>
            <input matInput formControlName="title" />
            <mat-error *ngIf="saveDrawingFormGroup.controls.title.invalid">{{ getTitleError() }}</mat-error>
        </mat-form-field>

        <mat-card>
            <mat-card-title>Aperçu</mat-card-title>
            <app-drawing-preview></app-drawing-preview>
        </mat-card>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button mat-dialog-close class="button">Annuler</button>
        <button mat-raised-button mat-dialog-close type="submit" class="button" [disabled]="saveDrawingFormGroup.controls.title.invalid">
            Sauvegarder le dessin
        </button>
    </mat-dialog-actions>
</form>
