<div class="container">
    <mat-dialog-content class="item-content">
        <form [formGroup]="saveDrawingFormGroup">
            <mat-form-field class="chip-list">
                <mat-chip-list #chipList aria-label="Label selection">
                    <mat-chip *ngFor="let label of labels" selectable="true" removable="true" (removed)="removeLabel(label)">
                        {{ label }}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input
                        name="martine"
                        placeholder="Nouvelle étiquette..."
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addLabel($event)"
                    />
                    <mat-error *ngIf="saveDrawingFormGroup.controls.labelForm.invalid">{{ getLabelError() }}</mat-error>
                </mat-chip-list>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Titre</mat-label>
                <input matInput formControlName="titleForm" />
                <mat-error *ngIf="saveDrawingFormGroup.controls.titleForm.invalid">{{ getTitleError() }}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Type de filtre</mat-label>
                <mat-select [(value)]="previewFilter">
                    <mat-option [value]="PreviewFilter.None">Aucun filtre</mat-option>
                    <mat-option [value]="PreviewFilter.BlackAndWhite">Noir et blanc</mat-option>
                    <mat-option [value]="PreviewFilter.Sepia">Sepia</mat-option>
                    <mat-option [value]="PreviewFilter.Pixel">Pixel</mat-option>
                    <mat-option [value]="PreviewFilter.Eighties">1980</mat-option>
                    <mat-option [value]="PreviewFilter.Corrupt">Corrompu</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-card>
                <mat-card-title>Aperçu</mat-card-title>
                <app-drawing-preview></app-drawing-preview>
            </mat-card>
        </form>
    </mat-dialog-content>
    <div class="item-buttons">
        <button mat-raised-button mat-dialog-close class="save-button">Annuler</button>
        <button mat-raised-button class="save-button" [disabled]="saveDrawingFormGroup.invalid" (click)="saveOnServer()">
            Sauvegarder le dessin
        </button>
    </div>
</div>
