.title-container {
    margin-bottom: 0;
}

.title-item {
    text-align: center;
}

.chip-list-item {
    width: 100%;
    font-size: 14px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.gallery-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-between;
    max-height: 68vh;
}

.card-item {
    margin: 10px;
}

.card-title-container {
    justify-content: center;
}

.drawing-container {
    display: flex;
    justify-content: center;

    // ::ng-deep svg {
    //     display: block;
    //     width: auto;
    //     height: 100%;
    // }
}

.drawing-labels-item {
    min-height: 40px;
    margin-top: 20px;
}

.card-actions-container {
    width: 100%;
}

.card-actions-item {
    width: 30%;
    min-width: max-content;
    margin-right: 4px;
}

.button {
    width: 150px;
}
