<div mat-dialog-title class="title-container">
    <h1 class="title-item">Galerie de dessins</h1>
    <mat-form-field class="chip-list-item">
        <mat-chip-list #chipList aria-label="Sélection des étiquettes">
            <mat-chip *ngFor="let label of searchLabels" selectable="true" removable="true" (removed)="removeLabel(label)">
                {{ label }}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
                [formControl]="labelsFormControl"
                placeholder="Rercherche par étiquettes"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                matChipInputAddOnBlur="true"
                (matChipInputTokenEnd)="addLabel($event)"
                autocomplete="off"
            />
            <mat-error *ngIf="labelsFormControl.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-chip-list>
    </mat-form-field>
</div>
<mat-dialog-content>
    <div *ngIf="!isLoadingComplete" class="spinner-container">
        <mat-spinner></mat-spinner>
    </div>

    <ng-container *ngIf="isLoadingComplete">
        <div *ngIf="hasDrawings()" class="gallery-container">
            <mat-card *ngFor="let drawing of drawingsWithLabels" class="card-item">
                <mat-card-header class="card-title-container">
                    <mat-card-title>{{ drawing.title }}</mat-card-title>
                </mat-card-header>
                <div class="drawing-container" [innerHTML]="drawing.drawingRoot | galleryPreview"></div>
                <mat-card-content class="drawing-labels-item">
                    <mat-chip-list>
                        <mat-chip *ngFor="let label of drawing.labels">{{ label }}</mat-chip>
                    </mat-chip-list>
                </mat-card-content>
                <mat-card-actions align="center" class="card-actions-container">
                    <button mat-button class="card-actions-item" (click)="deleteDrawing(drawing)">Effacer</button>
                    <button mat-button mat-dialog-close class="card-actions-item" (click)="loadDrawing(drawing)">Charger</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <h2 *ngIf="!hasDrawings()" class="title-item">
            La galerie ne contient aucun dessin.
        </h2>

        <h2 *ngIf="hasDrawings() && drawingsWithLabels.length === 0" class="title-item">
            Aucun dessin ne contient les étiquettes choisies. Veuillez essayer avec de nouvelles étiquettes.
        </h2>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button mat-dialog-close class="button">Fermer</button>
</mat-dialog-actions>
