.title-container {
    margin-bottom: 0;
}

.title-item {
    text-align: center;
    margin-bottom: 0;
}

.search-container {
    display: flex;
    flex-direction: row;
}

.chip-list-item,
.sort-item {
    font-size: 14px;
}

.chip-list-item {
    width: 100%;
}

.sort-item {
    margin: 0 10px 0 16px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    max-height: 68vh;
}

.card-item {
    display: flex;
    flex-direction: column;
    margin: 4px;
}

.card-header-container {
    justify-content: center;
}

.drawing-container {
    height: 300px;
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;

    ::ng-deep svg {
        background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%),
            linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
        background-size: 20px 20px;
        background-position:
            0 0,
            0 10px,
            10px -10px,
            -10px 0;
    }
}

.drawing-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 16px;
}

.card-actions-container {
    margin: 0;
    padding: 0;
}

.remove-top-margin {
    margin-top: -16px;
}

.card-actions-item {
    width: 30%;
    min-width: max-content;
    margin-right: 4px;
}

.button {
    width: 175px;
}
