<h1 class="title">Outil de sélection</h1>
<h2>Description</h2>
<p>
    La sélection permet de déplacer certains éléments spécifiques de votre dessin. Si vous souhaitez déplacer un seul élement, il suffit
    d'un simple clic gauche sur celui-ci pour le sélectionner. Vous pouvez aussi sélectionner un groupe d'éléments en gardant le clic gauche
    enfoncé et en choisissant la zone à sélectionner avec un déplacement de la souris. Enfin, il est aussi possible de sélectionner le
    dessin en entier à l'aide des touches <i>Ctrl + A </i> lorsque l'outil de sélection est choisi. Une fois la zone sélectionnée, un clic
    gauche maintenu sur la zone et un déplacement de la souris permet le bouger tous les éléments à la position souhaitée.
</p>
<h2>Utilisation</h2>
<ul>
    <li>Sélectionner l’icône de sélection dans la barre d’outils</li>
    <li>Effectuer un clic gauche sur un élément pour le sélectionner</li>
    <li>Effectuer un clic gauche maintenu pour sélectionner une zone</li>
    <li>Appuyer sur <i>Ctrl + A </i> pour sélectionner tout le dessin</li>
    <li>Effectuer un clic gauche maintenu sur la zone pour déplacer les éléments</li>
</ul>
