<h1 class="title">Sélection</h1>
<h2>Description</h2>
<p>
    La sélection permet de déplacer certains éléments spécifiques de votre dessin. Si vous souhaitez déplacer un seul élement, il suffit
    d'un simple clic gauche sur celui-ci pour le sélectionner. Vous pouvez aussi sélectionner un groupe d'éléments en gardant le clic gauche
    enfoncé et en choisissant la zone à sélectionner avec un déplacement de la souris. Enfin, il est aussi possible de sélectionner le
    dessin en entier à l'aide des touches <i>Ctrl + A </i> lorsque l'outil de sélection est choisi.
</p>
<p>
    Une fois la zone sélectionnée, un clic gauche maintenu sur la zone et un déplacement de la souris permet le bouger tous les éléments à
    la position souhaitée. Pour faire pivoter la sélection autour de son centre, il suffit de bouger la roulette de la souris dans la
    direction souhaité. Une rotation individuelle des éléments de la sélection est aussi possible en maintenant la touche
    <i>Shift</i> durant le mouvement de la roulette. Enfin, le maintien de la touche <i>Alt</i> durant la rotation permet de réduire
    l'intervalle de rotation à 1° plutôt qu'à 15°.
</p>
<h2>Utilisation</h2>
<ul>
    <li>Sélectionner l’icône de sélection dans la barre d’outils</li>
    <li>Effectuer un clic gauche sur un élément pour le sélectionner</li>
    <li>Effectuer un clic gauche maintenu pour sélectionner une zone</li>
    <li>Appuyer sur <i>Ctrl + A </i> pour sélectionner tout le dessin</li>
    <li>Effectuer un clic gauche maintenu sur la zone pour déplacer les éléments</li>
    <li>Bouger la roulette de la souris pour faire une rotation</li>
    <li>Appuyer sur <i>Shift </i> pour pivoter les éléments individuellement</li>
    <li>Appuyer sur <i>Alt </i> pour pivoter une sélection à 1° d'intervalle</li>
</ul>
