<h1 class="title">Ligne</h1>
<h2>Description</h2>
<p>
    L’outil de ligne permet de tracer une ligne d’un ou plusieurs segments sur la surface de dessin. Chaque clic lors de la création de la
    ligne ajoute un segment à la ligne. Un double-clic permet de terminer la création de la ligne. Il est possible d’utiliser la touche
    <i>Shift</i> pour créer des segments alignés à des angles de 45 degrés. Si un double-clic est effectué assez prêt du point initial de la
    ligne, alors une boucle fermée sera formée. Lors de la création de la ligne, il est possible d’appuyer sur la touche de retour arrière
    <i>Backspace</i> afin d’annuler le placement du point le plus récent. Il est aussi possible d’appuyer sur la touche d’échappement
    <i>Escape</i> pour annuler la création de la ligne. Il est possible de spécifier dans les options le type de jonction sur la ligne,
    l’épaisseur que doit avoir la ligne et le diamètre des points de jonction si cette option est choisie.
</p>
<h2>Utilisation</h2>
<ul>
    <li>Sélectionner l’icône de la ligne dans la barre d’outils</li>
    <li>Ajuster la taille de la ligne à l’aide de la barre de défilement</li>
    <li>Cocher dans la case adjacente à la taille de jonction afin d’activer ou non l’option des points aux jonctions</li>
    <li>Utiliser la barre de défilement afin d’ajuster la taille des points de jonction</li>
    <li>Appuyer sur le bouton gauche de la souris au point de départ désiré de la ligne</li>
    <li>Appuyer sur le bouton gauche de la souris pour tous les points succédant de la ligne</li>
    <li>Effectuer un double-clic gauche de la souris pour le dernier point</li>
</ul>
