.mat-h3 {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    text-align: center;
}

.circle {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    cursor: pointer;
    margin: 4px;
}

.color-container {
    display: flex;
    justify-content: center;
}

.lighting-container {
    display: flex;
    justify-content: center;
}

.mat-slide-toggle {
    align-self: center;
    margin-left: 4px;
}
