.container {
    display: grid;
    grid-template-columns: 220px auto;
    grid-template-rows: 50px auto auto 80px;
    grid-template-areas:
        'sidebar exit'
        'sidebar guide'
        'sidebar guide'
        'sidebar buttons';
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sidebar-item {
    grid-area: sidebar;
    overflow-x: hidden;
    overflow-y: auto;
}

.exit-button-item {
    grid-area: exit;
    justify-self: end;
    cursor: pointer;
}

.guide-content-item {
    grid-area: guide;
    align-self: start;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
}

.buttons-item {
    grid-area: buttons;
    padding-bottom: 30px;
}

.navigation-button {
    width: 150px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
}

.previous {
    grid-area: previous;
    margin-right: 50px;
    text-align: right;
}

.next {
    grid-area: next;
    margin-left: 50px;
    text-align: left;
}
