<div class="container">
    <app-guide-sidebar #appSidebar class="sidebar-item"></app-guide-sidebar>
    <button mat-icon-button mat-dialog-close class="exit-button-item">
        <mat-icon>close</mat-icon>
    </button>
    <mat-dialog-content class="guide-content-item">
        <ng-template #appGuideContent cdkFocusInitial></ng-template>
    </mat-dialog-content>
    <mat-dialog-actions align="center" class="buttons-item">
        <button mat-button class="navigation-button previous" [disabled]="!hasPreviousGuide" (click)="selectPreviousGuide()">
            <mat-icon>keyboard_arrow_left</mat-icon> Précédent
        </button>
        <button mat-button class="navigation-button next" [disabled]="!hasNextGuide" (click)="selectNextGuide()">
            Suivant <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </mat-dialog-actions>
</div>
