.container {
    display: grid;
    height: 100%;
    width: 100%;
    overflow: hidden;
    grid-template-columns: 220px auto;
    grid-template-rows: 50px auto auto 80px;
    grid-template-areas:
        'sidebar exit'
        'sidebar guide'
        'sidebar guide'
        'sidebar buttons';
}

.item-guide-content {
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    align-self: start;
    grid-area: guide;
}

.item-exit-button {
    justify-self: end;
    cursor: pointer;
    grid-area: exit;
}

.item-sidebar {
    overflow-x: hidden;
    overflow-y: auto;
    grid-area: sidebar;
}

.item-buttons {
    grid-area: buttons;
    padding-bottom: 30px;
}

.navigation-button {
    height: 60px;
    width: auto;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
}

.previous,
.next {
    width: 150px;
}

.previous {
    margin-right: 50px;
    grid-area: previous;
}

.next {
    margin-left: 50px;
    grid-area: next;
}

.icon {
    transform: scale(1.5);
}
