<h1 class="title">Aérosol</h1>
<h2>Description</h2>
<p>
    L'aérosol est un outil très particulier. Celui-ci génère des points aléatoirement à l'intérieur d'un diamètre prédéterminé. Cet outil
    imite le comportement hasardeux et inégal d'un aérosol. Le diamètre, ainsi que le nombres de jets par seconde, peuvent être modifiés à
    l'aide des barres de défilement disponibles sur la barre latérale d'options.
</p>
<h2>Utilisation</h2>
<ul>
    <li>Sélectionner l’icône de l'aérosol dans la barre d’outils</li>
    <li>Ajuster la taille du diamètre de jet à l’aide de la première barre de défilement</li>
    <li>Ajuster la vitesse du jet à l’aide de la seconde barre de défilement</li>
    <li>Maintenir le bouton gauche de la souris sur le plan de dessin afin de tracer</li>
</ul>
