.title {
    margin: 4px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.form-field-item {
    width: 120px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}
