<h1 class="title">Pinceau</h1>
<h2>Description</h2>
<p>
    Le pinceau est similaire au crayon. La principale différence vient de la texture du trait. L’application fourni un choix de cinq différentes
    textures qu’il est possible d’utiliser avec le pinceau.
</p>
<h2>Utilisation</h2>
<ul>
    <li>Sélectionner l’icône du pinceau dans la barre d’outils</li>
    <li>Ajuster la taille du trait du pinceau à l’aide de la barre de défilement</li>
    <li>Choisir la texture des choix de la liste déroulante</li>
    <li>Maintenir le bouton gauche de la souris sur le plan de dessin afin de tracer</li>
</ul>
