<p>Partie selection parametres</p>

{{ selectedButton.name }}

<div *ngIf="selectedButton.tool.toolSettings.has(ToolSetting.Size)">
    This tool has Size attribute
    <br />
    <input
        [ngModel]="selectedButton.tool.toolSettings.get(ToolSetting.Size)"
        (ngModelChange)="selectedButton.tool.toolSettings.set(ToolSetting.Size, $event)"
    />
    {{ selectedButton.tool.toolSettings.get(ToolSetting.Size) }}
</div>

<div *ngIf="selectedButton.tool.toolSettings.has(ToolSetting.Color)">
    This tool has Color attribute
    <br />
    <input
        [ngModel]="selectedButton.tool.toolSettings.get(ToolSetting.Color)"
        (ngModelChange)="selectedButton.tool.toolSettings.set(ToolSetting.Color, $event)"
    />
    {{ selectedButton.tool.toolSettings.get(ToolSetting.Color) }}
    <mat-slider
        min="1"
        max="100"
        (input)="selectedButton.tool.toolSettings.set(ToolSetting.Color, $event.value)"
        [value]="selectedButton.tool.toolSettings.get(ToolSetting.Color)"
    >
    </mat-slider>
</div>