<h1 class="title">Polygone</h1>
<h2>Description</h2>
<p>
    Cet outil permet de dessiner des ellipses sur la surface de dessin. Il est possible de choisir la taille de la bordure du polygone à
    l’aide d’une barre de défilement. Trois types de tracé sont disponibles. Le tracé plein permet de produire une forme complètement
    remplie de la couleur primaire. Le tracé plein avec contour reprend ce même concept et ajoute une bordure de couleur différente. Le
    tracé contour dessine une forme dont l’intérieur est vide. Il est possible d’appuyer sur la touche
    <i>Shift</i> pour produire un cercle parfait. Il est possible de créer un polygone ayant de 3 à 12 faces.
</p>
<h2>Utilisation</h2>
<ul>
    <li>Sélectionner l’icône du polygone dans la barre d’outils</li>
    <li>Choisir le nombres de faces du polygone grâce à la barre de défilement</li>
    <li>Appuyer sur le bouton gauche de la souris au point où se trouvera un coin du polygone.</li>
    <li>Garder le bouton de la souris enfoncé et balayer l’écran jusqu’à avoir un polygone de votre goût</li>
    <li>Relâcher le bouton de la souris pour compléter le polygone</li>
</ul>
