<mat-drawer-container>
    <div class="button-selection">
        <div class="option-selection">
            <button mat-icon-button class="tool-button" (click)="drawer.toggle()">
                <mat-icon class="mat-icon">dehaze</mat-icon>
            </button>

            <p class="mat-body-2">Outils</p>

            <button
                mat-stroked-button
                *ngFor="let button of buttons; let i = index"
                class="option-button"
                [class.selected]="button === selectedButton"
                (click)="setSelectedTool(i)"
                matTooltip="{{ button.name }}"
                matTooltipPosition="right"
            >
                <mat-icon class="mat-icon">{{ button.icon }}</mat-icon>
            </button>
        </div>
        <div class="option-selection">
            <button
                mat-stroked-button
                class="option-button"
                (click)="openSettingsModal()"
                matTooltip="Paramètres"
                matTooltipPosition="right"
            >
                <mat-icon class="mat-icon">settings</mat-icon>
            </button>
            <button
                mat-stroked-button
                class="option-button"
                (click)="openImportExportModal()"
                matTooltip="Importer/exporter dessin"
                matTooltipPosition="right"
            >
                <mat-icon class="mat-icon">import_export</mat-icon>
            </button>
            <button
                mat-stroked-button
                class="option-button"
                (click)="openNewDrawingModal()"
                matTooltip="Nouveau dessin"
                matTooltipPosition="right"
            >
                <mat-icon class="mat-icon">add</mat-icon>
            </button>
            <button mat-stroked-button class="option-button" (click)="openGuideModal()" matTooltip="Aide" matTooltipPosition="right">
                <mat-icon class="mat-icon">help</mat-icon>
            </button>
            <button mat-stroked-button class="option-button" routerLink="/home" matTooltip="Accueil" matTooltipPosition="right">
                <mat-icon class="mat-icon">home</mat-icon>
            </button>
        </div>
    </div>
    <mat-drawer #appDrawer mode="side" position="end" opened class="tool-settings">
        <app-sidebar-drawer
            [selectedButtonIndex]="selectedButton.toolIndex"
            (undoClicked)="undo()"
            (redoClicked)="redo()"
        ></app-sidebar-drawer>
    </mat-drawer>
</mat-drawer-container>
