.title {
    font-weight: bold;
    text-align: center;
}

.tool-button,
.option-button,
.text-icon-button {
    height: 60px;
    margin: 2px;
    cursor: pointer;
}

.text-icon-button {
    font-size: 48px;
}

.tool-settings {
    border-right: solid;
    border-width: 1px;
    flex-direction: column;
    width: 280px;
}

.button-selection {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.option-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-icon {
    transform: scale(1.8);
}

.selected {

}
