.option-button {
    height: 40px;
    width: 40px;
    min-width: unset;
    padding: 0;
    margin: 2px;
    cursor: pointer;
}

.tool-settings {
    border-right: solid;
    border-width: 1px;
    width: 280px;
}

.button-selection {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.option-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
div,
p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
