<mat-drawer-container>
    <div class="container">
        <div class="button-group-container">
            <button mat-icon-button class="hamburger theme-background" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <button
                mat-stroked-button
                *ngFor="let button of buttons; let i = index"
                class="option-button"
                [class.selected-button]="button === selectedButton"
                (click)="setSelectedTool(i)"
                matTooltip="{{ button.name }}"
                matTooltipPosition="right"
            >
                <mat-icon>{{ button.icon }}</mat-icon>
            </button>
        </div>

        <div class="button-group-container">
            <button
                mat-stroked-button
                class="option-button"
                (click)="openNewDrawingModal()"
                matTooltip="Nouveau dessin"
                matTooltipPosition="right"
            >
                <mat-icon>add</mat-icon>
            </button>
            <button
                mat-stroked-button
                class="option-button"
                (click)="openExportDrawingModal()"
                matTooltip="Exporter le dessin localement"
                matTooltipPosition="right"
            >
                <mat-icon>save_alt</mat-icon>
            </button>
            <button
                mat-stroked-button
                class="option-button"
                (click)="openSaveDrawingModal()"
                matTooltip="Sauvegarder le dessin sur le serveur"
                matTooltipPosition="right"
            >
                <mat-icon>cloud_upload</mat-icon>
            </button>
            <button mat-stroked-button class="option-button" (click)="openGalleryModal()" matTooltip="Galerie" matTooltipPosition="right">
                <mat-icon>collections</mat-icon>
            </button>
            <button
                mat-stroked-button
                class="option-button"
                (click)="openDrawingSettingsModal()"
                matTooltip="Paramètres"
                matTooltipPosition="right"
            >
                <mat-icon>settings</mat-icon>
            </button>
            <button mat-stroked-button class="option-button" (click)="openGuideModal()" matTooltip="Guide" matTooltipPosition="right">
                <mat-icon>help_outline</mat-icon>
            </button>
            <button mat-stroked-button class="option-button" routerLink="/home" matTooltip="Accueil" matTooltipPosition="right">
                <mat-icon>home</mat-icon>
            </button>
        </div>
    </div>

    <mat-drawer #appDrawer mode="side" position="end" opened class="tool-settings">
        <app-sidebar-drawer
            [selectedButtonIndex]="selectedButton.toolIndex"
            (undoClicked)="undo()"
            (redoClicked)="redo()"
        ></app-sidebar-drawer>
    </mat-drawer>
</mat-drawer-container>
