<mat-drawer-container class="container theme-drawer-right-border">
    <mat-drawer-content class="sidebar-container">
        <mat-toolbar class="button-toolbar-item">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <div class="button-container">
            <mat-action-list dense>
                <button
                    mat-list-item
                    *ngFor="let tool of tools"
                    class="button"
                    [class.theme-selected-button]="tool === currentTool"
                    (click)="currentTool = tool"
                    [matTooltip]="tool.name"
                    matTooltipPosition="right"
                >
                    <mat-icon [svgIcon]="tool.icon"></mat-icon>
                </button>
            </mat-action-list>
            <mat-action-list dense>
                <button
                    mat-list-item
                    *ngFor="let actionButton of actionButtons"
                    class="button"
                    (click)="actionButton.action()"
                    [matTooltip]="actionButton.name"
                    matTooltipPosition="right"
                >
                    <mat-icon [svgIcon]="actionButton.icon"></mat-icon>
                </button>
            </mat-action-list>
        </div>
    </mat-drawer-content>

    <mat-drawer #drawer mode="side" position="end" opened class="tool-settings-container">
        <app-sidebar-drawer #appSidebarDrawer></app-sidebar-drawer>
    </mat-drawer>
</mat-drawer-container>
