.menu-item {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    cursor: pointer;
}

.guide-tree-hidden {
    display: none;
}

.guide-tree ul,
.guide-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}
