.menu-item {
    border-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.guide-tree-invisible {
    display: none;
}

.guide-tree ul,
.guide-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}
