.mat-h1 {
    text-align: center;
}

.card {
    background-color: #505050;
    text-align: center;
    height: 100% !important;
    margin-bottom: 10px;
}

.chip-list {
    width: 100%;
}

.drawing-container {
    padding-top: 10px;
    max-height: 460px !important;
    min-height: 200px !important;
    width: 100% !important;
    height: 460px !important;
}

.drawing-chip-list {
    margin: 10px;
}

.drawing {
    max-width: 450px;
    max-height: 450px;
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.content {
    max-height: 68vh !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}
