.mat-h1 {
    text-align: center;
}

.card {
    background-color: #505050;
    text-align: center;
}

.chip-list {
    width: 100%;
}

.drawing {
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    display: flex;
    margin: 10px;
}

.content {
    max-height: 68vh !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.ng-star-inserted,
.mat-card {
    height: 100%;
}

.drawing-chip-list {
    margin-top: 20px;
}

.dialog-actions {
    max-height: 50px !important;
    min-height: 50px !important;
    padding: 0px !important;
}
