<div class="container">
    <div mat-dialog-title>
        <h1 class="mat-h1">Galerie de dessins</h1>
        <mat-form-field class="chip-list">
            <mat-chip-list #chipList aria-label="Label selection">
                <mat-chip *ngFor="let label of searchLabels" selectable="true" removable="true" (removed)="removeLabel(label)">
                    {{ label }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input
                    placeholder="Rercherche par étiquette (Chiffres 0-9, lettres a-z et A-Z et 15 caractères maximum)"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="addLabel($event)"
                />
                <mat-error *ngIf="galleryGroup.controls.labels.invalid">{{ getLabelError() }}</mat-error>
            </mat-chip-list>
        </mat-form-field>
    </div>
    <div *ngIf="!isLoaded" class="spinner-container">
        <mat-spinner class="mat-spinner"></mat-spinner>
    </div>
    <mat-dialog-content *ngIf="isLoaded">
        <div class="content">
            <mat-card *ngFor="let drawing of getDrawingsWithLabels()" class="card">
                <mat-card-header>
                    <mat-card-title>{{ drawing.title }}</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <div class="drawing-container">
                    <div class="drawing" [innerHTML]="drawing.drawingRoot.outerHTML | safeHtml"></div>
                </div>
                <mat-divider></mat-divider>
                <div class="drawing-chip-list">
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let label of drawing.labels">
                            {{ label }}
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <mat-card-actions align="end">
                    <button mat-raised-button (click)="deleteDrawing(drawing)">Effacer</button>
                    <button mat-raised-button mat-dialog-close (click)="loadDrawing(drawing)">Charger</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <h1 *ngIf="getDrawingsWithLabels().length === 0" class="mat-h1">
            Aucun dessin ne contient les étiquettes choisies. Veuillez essayer avec de nouvelles étiquettes.
        </h1>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close>Fermer</button>
    </mat-dialog-actions>
</div>
