<h1 class="title">Ellipse</h1>
<h2>Description</h2>
<p>
    L’outil d'ellipse permet de dessiner des ellipses sur la surface de dessin. Il est possible de choisir la taille de la bordure de
    l'ellipse à l’aide d’une barre de défilement. Trois types de tracé sont disponibles. Le tracé plein permet de produire une surface
    circulaire complètement remplie de la couleur primaire. Le tracé plein avec contour reprend ce même concept et ajoute une bordure de
    couleur différente. Le tracé contour dessine une forme circulaire dont l’intérieur est vide. Il est possible d’appuyer sur la touche
    <i>Shift</i> pour produire un cercle parfait.
</p>
<h2>Utilisation</h2>
<ul>
    <li>Sélectionner l’icône de l'ellipse dans la barre d’outils</li>
    <li>Appuyer sur le bouton gauche de la souris au point où se trouvera un coin de l'ellipse.</li>
    <li>Garder le bouton de la souris enfoncé et balayer l’écran jusqu’à avoir une ellipse de votre goût</li>
    <li>Relâcher le bouton de la souris pour compléter l'ellipse</li>
</ul>
