<h1 class="title">Crayon</h1>
<h2>Description</h2>
<p>
    Le crayon est l’outil de base du logiciel de dessin. Il permet de faire des traits simples avec une couleur simple. Le crayon utilise
    une pointe ronde pour appliquer ses traits. Il est possible d’ajuster l’épaisseur du trait dans les options. De plus, l'option de lissage
    permet d'ajuster la coubature du trait afin de réduire les inexactitudes et de rendre le trait plus régulier.
</p>
<h2>Utilisation</h2>
<ul>
    <li>Sélectionner l’icône du crayon dans la barre d’outils</li>
    <li>Ajuster la taille du crayon à l’aide de la barre de défilement</li>
    <li>Activer le lissage et ajuster son facteur à l’aide de la barre de défilement</li>
    <li>Maintenir le bouton gauche de la souris sur le plan de dessin afin de tracer</li>
</ul>
