.container {
    display: flex;
    justify-content: space-between;
}

.margin-right {
    margin-right: 16px;
}

.margin-top {
    margin-top: 16px;
}

.color-title-item {
    margin-bottom: 8px;
    margin-right: 24px;
}

.circle-item {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    cursor: pointer;
}
