<div class="container">
    <mat-form-field *ngIf="isHex" class="form-field">
        <mat-label>Hex # </mat-label>
        <input matInput (input)="updateColorHex()" [formControl]="hexRgb" />
        <mat-error *ngIf="hexRgb.invalid && (hexRgb.dirty || hexRgb.touched)">Invalide</mat-error>
    </mat-form-field>
    <div *ngIf="!isHex" class="all-components">
        <mat-form-field class="single-component">
            <mat-label>Rouge</mat-label>
            <input matInput (input)="updateColorRgb()" [formControl]="hexRed" />
            <mat-error *ngIf="hexRgb.invalid && (hexRgb.dirty || hexRgb.touched)">Invalide</mat-error>
        </mat-form-field>
        <mat-form-field class="single-component">
            <mat-label>Vert</mat-label>
            <input matInput (input)="updateColorRgb()" [formControl]="hexGreen" />
            <mat-error *ngIf="hexRgb.invalid && (hexRgb.dirty || hexRgb.touched)">Invalide</mat-error>
        </mat-form-field>
        <mat-form-field class="single-component">
            <mat-label>Bleu</mat-label>
            <input matInput (input)="updateColorRgb()" [formControl]="hexBlue" />
            <mat-error *ngIf="hexRgb.invalid && (hexRgb.dirty || hexRgb.touched)">Invalide</mat-error>
        </mat-form-field>
    </div>
    <button mat-icon-button (click)="swapMode($event)">
        <mat-icon>swap_vert</mat-icon>
    </button>
</div>
