<form class="container" [formGroup]="hexSelectorGroup">
    <mat-form-field *ngIf="isCombinedHex" class="form-field">
        <mat-label>Hex # </mat-label>
        <input matInput formControlName="hexCombinedRgb" />
        <mat-error *ngIf="hexSelectorGroup.controls.hexCombinedRgb.invalid">Invalide</mat-error>
    </mat-form-field>
    <div *ngIf="!isCombinedHex" class="all-components">
        <mat-form-field class="single-component">
            <mat-label>Rouge</mat-label>
            <input matInput formControlName="hexRed" />
            <mat-error *ngIf="hexSelectorGroup.controls.hexRed.invalid">Invalide</mat-error>
        </mat-form-field>
        <mat-form-field class="single-component">
            <mat-label>Vert</mat-label>
            <input matInput formControlName="hexGreen" />
            <mat-error *ngIf="hexSelectorGroup.controls.hexGreen.invalid">Invalide</mat-error>
        </mat-form-field>
        <mat-form-field class="single-component">
            <mat-label>Bleu</mat-label>
            <input matInput formControlName="hexBlue" />
            <mat-error *ngIf="hexSelectorGroup.controls.hexBlue.invalid">Invalide</mat-error>
        </mat-form-field>
    </div>
    <button
        mat-icon-button
        (click)="swapMode($event)"
        [matTooltip]="isCombinedHex ? 'Entrée RGB' : 'Entrée hexadécimale'"
        matTooltipPosition="above"
    >
        <mat-icon>swap_vert</mat-icon>
    </button>
</form>
