.container {
    display: flex;
}

.combined-item,
.rgb-item {
    text-align: center;
}

.combined-item {
    width: 100%;
}

.rgb-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rgb-item {
    width: 60px;
}

.button {
    width: 42px;
    height: 42px;
    margin-left: 4px;
}
