.container {
    display: grid;
    grid-template-areas:
        'title title'
        'color-picker color-picker'
        'cancel confirm';
}

.mat-h1 {
    grid-area: title;
    text-align: center;
}

.item-color {
    grid-area: color-picker;
}

.item-cancel {
    grid-area: cancel;
    margin-right: 2px;
}

.item-confirm {
    grid-area: confirm;
    margin-left: 2px;
}
