<h1 class="title">Bienvenue!</h1>
<h2>Introduction au guide</h2>
<p>
Bienvenue sur le guide d'utilisation de PolyDessin. Il est possible de naviguer au travers
des différentes sections de ce guide afin d'en apprendre plus sur le potentiel et les méthodes
d'utilisation des différents outils mis à votre disposition. Veuillez prendre note que le logiciel
est en cours de développement et que certains outils ne sont pas encore disponibles.
</p>
<h2>Comment utiliser le guide</h2>
<ul>
  <li>Appuyer sur les catégories en gras pour afficher les fonctionnalités reliées</li>
  <li>Sélectionner une fonctionnalité afin d'afficher sa description</li>
  <li>Naviguer entre les fonctionnalités à l'aide des boutons «Précédent» et «Suivant»</li>
</ul>
<p class="white-space"></p>
<h4 class="welcome-end">
Veuillez nous faire part de vos commentaires sur votre expérience en tant qu'utilisateur et surtout,
manifestez l'artiste qui git en vous!
</h4>
<p class="white-space"></p>
