<h1 class="title">Annuler-refaire</h1>
<h2>Description</h2>
<p>
    Lorsque vous n'êtes pas certains de la dernière action effectuée, il est possible d'annuler ou de refaire cette action. Pour ce faire,
    vous n'avez qu'à appuyer sur les touches <i>Ctrl + Z</i> pour annuler une action, ou appuyer sur les touches
    <i>Ctrl + Shift + Z</i> pour refaire une action. Il est aussi possible d'effectuer ces commandes grâce aux boutons situés au bas des
    options de la barre latérale. Cette fonctionnalité est utile pour corriger rapidement une erreur ou pour comparer le résultat d'un
    nouvel ajout avec ce qu'il y avait précédemment sur le dessin.
</p>
<h2>Utilisation</h2>
<ul>
    <li>Annuler une action avec les touches <i>Shift + Z</i></li>
    <li>Refaire une action avec les touches <i>Ctrl + Shift + Z</i></li>
    <li>Appuyer sur les boutons de commandes disponibles sur la barre latérale</li>
</ul>
