<h1 class="mat-h1">Pinceau</h1>
<h2 class="mat-h2">Description</h2>
<p class="mat-body">
    Le pinceau est similaire au crayon. La principale différence vient de la texture du trait. L’application fourni un choix de cinq
    différentes textures qu’il est possible d’utiliser avec le pinceau.
</p>
<h2 class="mat-h2">Utilisation</h2>
<ul class="mat-body">
    <li>Sélectionner l’icône du pinceau dans la barre d’outils</li>
    <li>Ajuster la taille du trait du pinceau à l’aide de la barre de défilement</li>
    <li>Choisir la texture des choix de la liste déroulante</li>
    <li>Maintenir le bouton gauche de la souris sur le plan de dessin afin de tracer</li>
</ul>
