<h1 class="title">Exporter le dessin</h1>
<h2>Description</h2>
<p>
    Lorsque vous êtes satisfait du résultat de votre dessin, vous pouvez l'exporter avec la fenêtre modale d'exportation locale du dessin
    afin de précieusement garder votre chef-d'oeuvre sur votre ordinateur. Trois formats de fichiers sont disponibles: SVG, PNG et JPEG.
    Pour exporter le dessin, vous n'avez qu'à le nommer et choisir l'emplacement auquel vous souhaitez l'enregister. Cinq filtres sont aussi
    mis à votre disposition afin d'ajouter une touche spéciale à votre dessin. Vous pouvez aussi choisir d'envoyer votre dessin par courriel
    en cochant la case correspondante et en ajoutant l'adresse courriel du destinataire désiré.
</p>
<h2>Utilisation</h2>
<ul>
    <li>Nommer le dessin</li>
    <li>Ajouter un filtre au choix</li>
    <li>Choisir le format d'exportation du fichier</li>
    <li>Appuyer sur le bouton <i>Exporter le dessin</i></li>
    <li>Cocher la case et ajouter une adresse courriel</li>
    <li>Appuyer sur le bouton <i>Envoyer par courriel</i></li>
</ul>
