<h1 class="title">Galerie de dessins</h1>
<h2>Description</h2>
<p>
    La galerie de dessins regroupe tous les dessins sauvegardés par les utilisateurs de PolyDessin. Il est possible d'y ajouter de nouveaux
    dessins à partir de la fenêtre modale de sauvegarde sur le serveur. Une recherche par étiquettes peut être effectuée afin de retrouver
    votre dessin plus facilement. Chaque dessin contenant au moins une des étiquettes spécifiées sera affiché. Pour chaque dessin, il est
    possible de le charger sur la surface de travail ou de le supprimer de la galerie. Si le dessin est chargé et modifié, la prochaine
    sauvegarde écrasera l'ancien dessin présent dans la galerie pour y ajouter les modifications. Un dessin supprimé de la galerie ne peut
    être récupéré, il faut donc être prudent! De plus, puisque la galerie est un espace partagé dans lequel chaque utilisateur a la
    possibilité de charger ou de supprimer les dessins, nous vous prions de rester courtois. Vous pouvez charger le dessin afin de
    l'exporter localement, et si vous souhaitez modifier ou supprimer un dessin, assurez-vous d'avoir le consentement de l'auteur!
</p>
<h2>Utilisation</h2>
<ul>
    <li>Rechercher les dessins avec les étiquettes spécifiées</li>
    <li>Naviguer dans la galerie pour voir les différents dessins</li>
    <li>Charger un dessin</li>
    <li>Supprimer un dessin</li>
</ul>
