<h2 mat-dialog-title>Paramètres</h2>
<mat-dialog-content>
    <form [formGroup]="formGroup" autocomplete="off">
        <app-background-color-settings></app-background-color-settings>
        <mat-divider></mat-divider>
        <app-drawing-dimensions-settings></app-drawing-dimensions-settings>
        <mat-divider></mat-divider>
        <app-grid-settings></app-grid-settings>
        <mat-divider></mat-divider>
        <app-theme-settings></app-theme-settings>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button class="button" (click)="resetInitialSettings()">Réinitialiser</button>
    <button mat-button mat-dialog-close class="button">Confirmer</button>
</mat-dialog-actions>
