.guide {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.guide-content {
    width: 100%;
    overflow-y: auto;
}
.sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  width: 260px;
}
