<h1 class="title">Presse-papier</h1>
<h2>Description</h2>
<p>
    Le presse-papier permet de créer des dessins d'un tout autre niveau. Il permet de copier une sélection avec les touches
    <i>Ctrl + C</i>, et ensuite de coller une sélection à l'aide de <i>Ctrl + V</i>. La duplication, effectuée avec les touches
    <i>Ctrl + D</i>, permet essentiellement de copier et de coller un dessin avec une seule commande. Il est aussi possible de couper une
    sélection avec les touches <i>Ctrl + X</i> pour en garder une copie dans le presse-papier et l'enlever du dessin. Enfin, une sélection
    peut être supprimée à l'aide de la touche <i>Backspace</i>. Toutes les options du presse-papier se retrouvent au bas de la barre
    latérale. N'oubliez pas que les options d'annuler et refaire peuvent être très utiles si jamais vous copiez un élément trop de fois ou
    si vous supprimez une sélection accidentellement.
</p>
<h2>Utilisation</h2>
<ul>
    <li>Appuyer sur <i>Ctrl + C</i> pour copier une sélection</li>
    <li>Appuyer sur <i>Ctrl + V</i> pour coller une sélection</li>
    <li>Appuyer sur <i>Ctrl + X</i> pour couper une sélection</li>
    <li>Appuyer sur <i>Ctrl + D</i> pour dupliquer une sélection</li>
    <li>Appuyer sur <i>Backspace</i> pour supprimer une sélection</li>
    <li>Appuyer sur les options du presse-papier dans la barre latérale</li>
</ul>
