<h1 class="title">Efface</h1>
<h2>Description</h2>
<p>
    Si vous effectuez un heureux petit accident sur votre dessin, ne vous inquietez pas, vous pouvez effacer le tracé fautif avec l'efface.
    Après avoir selectionné l'outil, vous pourrez vous déplacer au dessus des différents éléments. Vous remarquerez que l'élément choisi
    pour la suppression est surligné en rouge. Il suffit ensuite d'un seul clic gauche sur l'élément pour l'effacer du dessin. Veuillez
    prendre note qu'un clic maintenu effacera de façon continuelle les éléments se trouvant sous le curseur.
</p>
<h2>Utilisation</h2>
<ul>
    <li>Sélectionner l’icône de l'efface dans la barre d’outils</li>
    <li>Déplacer la souris sur l'élément à supprimer</li>
    <li>Effectuer un clic gauche pour effacer l'élément</li>
</ul>
