<form>
    <mat-dialog-content>
        <mat-form-field class="chip-list">
            <mat-chip-list #chipList aria-label="Label selection">
                <mat-chip *ngFor="let label of labels" selectable="true" removable="true" (removed)="removeLabel(label)">
                    {{ label }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input
                    placeholder="Nouvelle étiquette..."
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="addLabel($event)"
                />
            </mat-chip-list>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Titre</mat-label>
            <input matInput [(ngModel)]="title" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Type de filtre</mat-label>
            <mat-select [(value)]="previewFilter">
                <mat-option [value]="PreviewFilter.None">Aucun filtre</mat-option>
                <mat-option [value]="PreviewFilter.BlackAndWhite">Noir et blanc</mat-option>
                <mat-option [value]="PreviewFilter.Sepia">Sepia</mat-option>
                <mat-option [value]="PreviewFilter.Pixel">Pixel</mat-option>
                <mat-option [value]="PreviewFilter.Eighties">1980</mat-option>
                <mat-option [value]="PreviewFilter.Corrupt">Corrompu</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-card>
            <mat-card-title>Aperçu</mat-card-title>
            <app-drawing-preview></app-drawing-preview>
        </mat-card>
    </mat-dialog-content>
</form>

    <mat-dialog-actions align="end">
        <a [href]="fileUrl" download="file.png">
            <button mat-raised-button (click)="exportDrawingAsSvg()">Sauvegarder</button>
        </a>
    </mat-dialog-actions>
