.title {
    text-align: center;
}

.container {
    display: grid;
    grid-template-areas:
        'title filter file'
        'preview preview preview';
    justify-content: space-between;
    align-content: center;
    max-height: unset;
}

.title-item {
    grid-area: title;
}

.filter-item {
    grid-area: filter;
}

.file-item {
    grid-area: file;
    display: flex;
    margin-bottom: 16px;
}

.file-type {
    align-self: center;
    margin-bottom: 0;
    margin-right: 12px;
}

.preview-item {
    grid-area: preview;
}

.button {
    width: 20%;
    min-width: max-content;
    margin: 4px;
}
