.title {
    text-align: center;
}

.container {
    display: grid;
    grid-template-areas:
        'title filter file'
        'preview preview preview';
    grid-auto-columns: 1fr;
    align-content: center;
}

.title-item {
    grid-area: title;
    padding-right: 16px;
}

.filter-item {
    grid-area: filter;
}

.file-item {
    grid-area: file;
    display: flex;
    justify-self: right;
    margin-bottom: 16px;
}

.file-type {
    align-self: center;
    margin-bottom: 0;
    margin-right: 12px;
}

.preview-item {
    grid-area: preview;
}

.button {
    width: 150px;
    margin-right: 4px;
}
