<div class="current-colors-container">
    <div
        class="primary-color-item"
        [matTooltip]="'Couleur primaire - #' + primaryColor.getHex()"
        matTooltipPosition="above"
        matRipple
        [style.background-color]="primaryColor.toRgbString()"
        [class.mat-elevation-z12]="isPrimaryColorSelected && isColorPickerDisplayEnabled"
        [class.mat-elevation-z2]="!isPrimaryColorSelected || !isColorPickerDisplayEnabled"
        (click)="selectPrimaryColor()"
    ></div>
    <button mat-icon-button (click)="swapColors()" matTooltip="Inverser les couleurs" matTooltipPosition="above">
        <mat-icon>swap_horiz</mat-icon>
    </button>
    <div
        class="secondary-color-item"
        [matTooltip]="'Couleur secondaire - #' + secondaryColor.getHex()"
        matTooltipPosition="above"
        matRipple
        [style.background-color]="secondaryColor.toRgbString()"
        [class.mat-elevation-z12]="!isPrimaryColorSelected && isColorPickerDisplayEnabled"
        [class.mat-elevation-z2]="isPrimaryColorSelected || !isColorPickerDisplayEnabled"
        (click)="selectSecondaryColor()"
    ></div>
</div>

<div class="last-colors-container" [class.last-colors-container-margin]="!isColorPickerDisplayEnabled">
    <div
        class="circle-item mat-elevation-z2"
        *ngFor="let color of lastColors"
        [matTooltip]="'#' + color.getHex()"
        matRipple
        [style.background-color]="color.toRgbString()"
        (click)="onLastColorClick($event, color)"
        (contextmenu)="onLastColorClick($event, color)"
    ></div>
</div>

<app-color-picker
    *ngIf="isColorPickerDisplayEnabled"
    [(colorModel)]="color"
    (colorPreviewClicked)="confirmColor()"
    colorPreviewTooltip="Confirmer la couleur"
></app-color-picker>
