.current-colors-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.primary-color-item,
.secondary-color-item {
    height: 32px;
    border-radius: 16px;
    cursor: pointer;
}

.primary-color-item {
    width: 50%;
}

.secondary-color-item {
    width: 25%;
}

.previous-colors {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.previous-colors-margin {
    margin-bottom: 20px;
}

.circle {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    cursor: pointer;
}
