<div class="current-colors">
    <div
        class="primary-color"
        matTooltip="Couleur primaire"
        matTooltipPosition="above"
        matRipple
        [style.background-color]="primaryColor"
        [class.mat-elevation-z12]="isPrimaryColorSelected && isColorPickerDisplayEnabled"
        [class.mat-elevation-z2]="!isPrimaryColorSelected || !isColorPickerDisplayEnabled"
        (click)="selectPrimaryColor()"
    ></div>
    <div class="swap-colors-button">
        <button mat-icon-button (click)="swapColors()">
            <mat-icon>swap_horiz</mat-icon>
        </button>
    </div>
    <div
        class="secondary-color"
        matTooltip="Couleur secondaire"
        matTooltipPosition="above"
        matRipple
        [style.background-color]="secondaryColor"
        [class.mat-elevation-z12]="!isPrimaryColorSelected && isColorPickerDisplayEnabled"
        [class.mat-elevation-z2]="isPrimaryColorSelected || !isColorPickerDisplayEnabled"
        (click)="selectSecondaryColor()"
    ></div>
</div>

<div class="previous-colors" [class.margin-colors]="!isColorPickerDisplayEnabled">
    <div
        class="circle mat-elevation-z2"
        matRipple
        *ngFor="let color of previousColors"
        [style.background-color]="color.toRgbString()"
        (click)="onColorClick($event, color)"
        (contextmenu)="onColorClick($event, color)"
    ></div>
</div>

<app-color-picker *ngIf="isColorPickerDisplayEnabled" [(colorModel)]="color" (colorPreviewClicked)="confirmColor()">></app-color-picker>
