<mat-drawer-container class="container">

  <div class="tool-selection">

    <button mat-icon-button class="tool-button" (click)="drawer.toggle()">
      <mat-icon class="mat-icon">dehaze</mat-icon>
    </button>

    <p class="title">Outils</p>

    <button [class.selected]="button===selectedButton" mat-stroked-button *ngFor="let button of buttons; let i = index" (click)="setSelectedTool(i)"
      class="tool-button" (click)="drawer.open()" title={{button.name}}>
      <mat-icon  class="mat-icon">{{button.icon}}</mat-icon>
    </button>

  </div>

  <mat-drawer #drawer mode="side" position="end" opened class="tool-settings">
    <div>
      <app-panel-color></app-panel-color>
      <app-panel-settings [selectedButton]="this.selectedButton"></app-panel-settings>
    </div>
  </mat-drawer>

</mat-drawer-container>
