<h1 class="title">Sauvegarder le dessin</h1>
<h2>Description</h2>
<p>
    Afin de dévoiler le résultat de votre dessin aux autres utilisateurs de PolyDessin, il vous est possible de sauvegarder votre dessin sur
    le serveur dans la fenêtre modale de sauvegarde du dessin. Vous avez le choix d'ajouter des étiquettes optionnelles vous qui permettront
    de retrouver le dessin facilement une fois rendu sur la galerie. Enfin, il suffit d'ajouter un titre au dessin et d'appuyer sur le
    bouton <i>Sauvegarder le dessin</i>. Veuillez noter que la sauvegarde de modifications d'un dessin chargé depuis la galerie écrasera
    l'ancienne version du dessin présente sur le serveur.
</p>
<p>
    De plus, une sauvegarde automatiquement s'assure de garder votre dessin et le thème sélectionné intacte lorsque vous vous reconnecterez
    sur l'application plus tard. Ne soyez donc pas inquiets si votre chien décide de se sauver de la maison et de traverser la rue en plein
    milieu de la création de votre dessin. Du moins, pas pour le dessin.
</p>
<h2>Utilisation</h2>
<ul>
    <li>Ajouter des étiquettes au choix</li>
    <li>Nommer le dessin</li>
    <li>Sauvegarder le dessin sur le serveur</li>
    <li>Voir votre dessin affiché dans la gallerie!</li>
</ul>
